<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Dirty Dolphin Jukebox</string>
				<key>ID</key>
				<string>page17</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Dirty Dolphin</string>
				<key>PluginClassName</key>
				<string>RWStyledPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Styled Text</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-06-22T12:05:24Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>dolphin.html</key>
						<dict>
							<key>Digest</key>
							<data>
							EiRkJJoaLff96M6P2ag/
							iw==
							</data>
							<key>Size</key>
							<integer>25156</integer>
						</dict>
						<key>files/baguette.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							F3imNXlpiVUWTrCJmiTm
							wA==
							</data>
							<key>Size</key>
							<integer>6556</integer>
						</dict>
						<key>files/blackbart.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YT2o4YrbplLB/EF2JZ2M
							Ng==
							</data>
							<key>Size</key>
							<integer>7340</integer>
						</dict>
						<key>files/cowboyhat.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							eYBUfTT1SWAdZE1tl2bL
							yA==
							</data>
							<key>Size</key>
							<integer>6728</integer>
						</dict>
						<key>files/deaddeep.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							0YCW4ZySf/MKQSQJPl3R
							ow==
							</data>
							<key>Size</key>
							<integer>20735</integer>
						</dict>
						<key>files/dragon.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							a3CkYq0WZ+Z2moGisTq3
							Rg==
							</data>
							<key>Size</key>
							<integer>7619</integer>
						</dict>
						<key>files/ducksfoot-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Ijb8Z9kOPgebaih9J6as
							yg==
							</data>
							<key>Size</key>
							<integer>6397</integer>
						</dict>
						<key>files/ducksfoot.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Ijb8Z9kOPgebaih9J6as
							yg==
							</data>
							<key>Size</key>
							<integer>6397</integer>
						</dict>
						<key>files/evilbroccoli-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							4exH5xHfFw652Pg8F3wG
							BQ==
							</data>
							<key>Size</key>
							<integer>6941</integer>
						</dict>
						<key>files/evilbroccoli.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							4exH5xHfFw652Pg8F3wG
							BQ==
							</data>
							<key>Size</key>
							<integer>6941</integer>
						</dict>
						<key>files/gladiator.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							FjJz8iCVl7J6zgr0CYgA
							CQ==
							</data>
							<key>Size</key>
							<integer>7188</integer>
						</dict>
						<key>files/hulk.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							vHOZrnBia+pzT+/EBqYW
							iQ==
							</data>
							<key>Size</key>
							<integer>6651</integer>
						</dict>
						<key>files/keg.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6oMLjAqMH70vW3oQiZti
							Bw==
							</data>
							<key>Size</key>
							<integer>6944</integer>
						</dict>
						<key>files/lighthouse-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							TbGuGq3uBkTaTE5p2o6Y
							Pg==
							</data>
							<key>Size</key>
							<integer>6418</integer>
						</dict>
						<key>files/lighthouse.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							TbGuGq3uBkTaTE5p2o6Y
							Pg==
							</data>
							<key>Size</key>
							<integer>6418</integer>
						</dict>
						<key>files/mouse-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/DGj3GJQ26ba1zgfImoN
							gQ==
							</data>
							<key>Size</key>
							<integer>5239</integer>
						</dict>
						<key>files/mouse.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/DGj3GJQ26ba1zgfImoN
							gQ==
							</data>
							<key>Size</key>
							<integer>5239</integer>
						</dict>
						<key>files/rapier.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/ompRdDZijLQFfHfyZ6B
							ng==
							</data>
							<key>Size</key>
							<integer>6127</integer>
						</dict>
						<key>files/right.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							llO1AYuTotm3K25LMsEd
							MA==
							</data>
							<key>Size</key>
							<integer>6626</integer>
						</dict>
						<key>files/ring-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/ring-3.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/ring.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/scroll.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							hMe4xUqhLx2E+hIZrSuZ
							WQ==
							</data>
							<key>Size</key>
							<integer>6517</integer>
						</dict>
						<key>files/ship-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7j0fOivkGbD89H/ZGtMI
							0A==
							</data>
							<key>Size</key>
							<integer>7484</integer>
						</dict>
						<key>files/ship.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7j0fOivkGbD89H/ZGtMI
							0A==
							</data>
							<key>Size</key>
							<integer>7484</integer>
						</dict>
						<key>files/vampirate.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							i0OLOTnB0qr+I7MYxMcF
							Xw==
							</data>
							<key>Size</key>
							<integer>7645</integer>
						</dict>
						<key>files/vampire-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YhPoNRxb9qz87l93zubr
							ag==
							</data>
							<key>Size</key>
							<integer>6937</integer>
						</dict>
						<key>files/vampire.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YhPoNRxb9qz87l93zubr
							ag==
							</data>
							<key>Size</key>
							<integer>6937</integer>
						</dict>
						<key>files/vampirekiss-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							FIhIQaltSCB8cLUH+6sj
							iQ==
							</data>
							<key>Size</key>
							<integer>7237</integer>
						</dict>
						<key>files/vampirekiss.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							FIhIQaltSCB8cLUH+6sj
							iQ==
							</data>
							<key>Size</key>
							<integer>7237</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page17</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
