<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>After Vampirates Blood Captain</string>
				<key>ID</key>
				<string>page30</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>After No3</string>
				<key>PluginClassName</key>
				<string>RWStyledPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Styled Text</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-06-06T11:45:15Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>files/adder.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							UoDs6LK4X3uJQ0JigTAF
							4w==
							</data>
							<key>Size</key>
							<integer>6924</integer>
						</dict>
						<key>files/apple.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OGCu53ztk6VDB+4at3C3
							qg==
							</data>
							<key>Size</key>
							<integer>7062</integer>
						</dict>
						<key>files/blackbart.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YT2o4YrbplLB/EF2JZ2M
							Ng==
							</data>
							<key>Size</key>
							<integer>7340</integer>
						</dict>
						<key>files/bubbles.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							GVRC1A9G/2ipa6RoNUPN
							Xg==
							</data>
							<key>Size</key>
							<integer>7252</integer>
						</dict>
						<key>files/chest.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6RbW5+WiViQzmTaalk3T
							cw==
							</data>
							<key>Size</key>
							<integer>5764</integer>
						</dict>
						<key>files/dragon.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							a3CkYq0WZ+Z2moGisTq3
							Rg==
							</data>
							<key>Size</key>
							<integer>7619</integer>
						</dict>
						<key>files/misstressofthedark.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ZixvlQhQ8ShFO1rbLHe2
							xA==
							</data>
							<key>Size</key>
							<integer>6725</integer>
						</dict>
						<key>files/mouse.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/DGj3GJQ26ba1zgfImoN
							gQ==
							</data>
							<key>Size</key>
							<integer>5239</integer>
						</dict>
						<key>files/treasure.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							73yvlvpZzMN+oSTsU1eH
							mQ==
							</data>
							<key>Size</key>
							<integer>5581</integer>
						</dict>
						<key>files/vampirates.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							i0OLOTnB0qr+I7MYxMcF
							Xw==
							</data>
							<key>Size</key>
							<integer>7645</integer>
						</dict>
						<key>files/vampire.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YhPoNRxb9qz87l93zubr
							ag==
							</data>
							<key>Size</key>
							<integer>6937</integer>
						</dict>
						<key>files/vampirekiss.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							FIhIQaltSCB8cLUH+6sj
							iQ==
							</data>
							<key>Size</key>
							<integer>7237</integer>
						</dict>
						<key>files/wait.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							fy2ak8i6Ai71IuGVYPzq
							Ig==
							</data>
							<key>Size</key>
							<integer>6750</integer>
						</dict>
						<key>no3.html</key>
						<dict>
							<key>Digest</key>
							<data>
							mHvNxG7Jqu5EnnGGwd6F
							gg==
							</data>
							<key>Size</key>
							<integer>24080</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page30</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
