<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>The Crew's Vampirate Artwork</string>
				<key>ID</key>
				<string>page16</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Artwork</string>
				<key>PluginClassName</key>
				<string>RWPhotoPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Photo Album</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-05-28T13:03:54Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>artwork.html</key>
						<dict>
							<key>Digest</key>
							<data>
							+jaYY2vHqS9hBcH+WPhC
							7Q==
							</data>
							<key>Size</key>
							<integer>10275</integer>
						</dict>
						<key>files/page16-1000-full.html</key>
						<dict>
							<key>Digest</key>
							<data>
							fv10F7sNyF2T753agFcv
							iA==
							</data>
							<key>Size</key>
							<integer>1430</integer>
						</dict>
						<key>files/page16-1000-full.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							5yaWolyADoR8GD9/8F59
							eQ==
							</data>
							<key>Size</key>
							<integer>47026</integer>
						</dict>
						<key>files/page16-1000-thumb.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							1Arxemj/RcqCf+d/DLaN
							uA==
							</data>
							<key>Size</key>
							<integer>6376</integer>
						</dict>
						<key>files/page16-1001-full.html</key>
						<dict>
							<key>Digest</key>
							<data>
							8xIe1jnLvmltxmAn1rct
							kg==
							</data>
							<key>Size</key>
							<integer>1468</integer>
						</dict>
						<key>files/page16-1001-full.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							P/lbfwWSnlWwGS2ZzfMz
							CQ==
							</data>
							<key>Size</key>
							<integer>184683</integer>
						</dict>
						<key>files/page16-1001-thumb.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							faAqG6pFV4YWq+ILZM5X
							PQ==
							</data>
							<key>Size</key>
							<integer>11029</integer>
						</dict>
						<key>files/page16-1002-full.html</key>
						<dict>
							<key>Digest</key>
							<data>
							nOLQZDqoLKXmI61TJQDP
							Yg==
							</data>
							<key>Size</key>
							<integer>1556</integer>
						</dict>
						<key>files/page16-1002-full.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							zkjzoznBR/ezynB2OWzS
							FA==
							</data>
							<key>Size</key>
							<integer>26518</integer>
						</dict>
						<key>files/page16-1002-thumb.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							GrzU1n5slhs35o41rTdN
							aA==
							</data>
							<key>Size</key>
							<integer>7095</integer>
						</dict>
						<key>files/page16-1003-full.html</key>
						<dict>
							<key>Digest</key>
							<data>
							no6hrCTpyv01w/YbLBJe
							9A==
							</data>
							<key>Size</key>
							<integer>1564</integer>
						</dict>
						<key>files/page16-1003-full.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							IWia9ra7fTmCbxvFSq6r
							sg==
							</data>
							<key>Size</key>
							<integer>26256</integer>
						</dict>
						<key>files/page16-1003-thumb.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							cYhQfIbQWjP4fR5dMomm
							eQ==
							</data>
							<key>Size</key>
							<integer>6925</integer>
						</dict>
						<key>files/page16-1004-full.html</key>
						<dict>
							<key>Digest</key>
							<data>
							feqPixaFjkMO8Z+doVi8
							dw==
							</data>
							<key>Size</key>
							<integer>1554</integer>
						</dict>
						<key>files/page16-1004-full.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							51psePwTHyjBHwV+kCco
							4w==
							</data>
							<key>Size</key>
							<integer>26455</integer>
						</dict>
						<key>files/page16-1004-thumb.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							PF5lW8Wve5ElEAQtGNTB
							EQ==
							</data>
							<key>Size</key>
							<integer>6967</integer>
						</dict>
						<key>files/page16-1005-full.html</key>
						<dict>
							<key>Digest</key>
							<data>
							aJieyQjnTxehj3yYYVy7
							vQ==
							</data>
							<key>Size</key>
							<integer>1554</integer>
						</dict>
						<key>files/page16-1005-full.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							PUJSsCEyWniPOgj1TYCg
							Vw==
							</data>
							<key>Size</key>
							<integer>22580</integer>
						</dict>
						<key>files/page16-1005-thumb.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							d7PrA2aoZFnnXcctN+2v
							GA==
							</data>
							<key>Size</key>
							<integer>5995</integer>
						</dict>
						<key>files/page16-1006-full.html</key>
						<dict>
							<key>Digest</key>
							<data>
							qWyQrjmL3FJ01OQbbTP7
							Tg==
							</data>
							<key>Size</key>
							<integer>1529</integer>
						</dict>
						<key>files/page16-1006-full.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							SrJ5Ik8Pn9sXkccyXFnV
							ig==
							</data>
							<key>Size</key>
							<integer>28909</integer>
						</dict>
						<key>files/page16-1006-thumb.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ZgJPivIMJEuNS8Gfi/6q
							Wg==
							</data>
							<key>Size</key>
							<integer>7122</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page16</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
