<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>TempestTwins Blog</string>
				<key>ID</key>
				<string>page12</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Blog</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2012-07-09T14:08:15Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>blog.php</key>
						<dict>
							<key>Digest</key>
							<data>
							fdng1RJWuP8KQrq8yfcq
							zA==
							</data>
							<key>Size</key>
							<integer>17416</integer>
						</dict>
						<key>files/3swords.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							3qtymgTvEArydlBCoRAC
							2Q==
							</data>
							<key>Size</key>
							<integer>6507</integer>
						</dict>
						<key>files/archive-01-july-2012.php</key>
						<dict>
							<key>Digest</key>
							<data>
							Pr3zcKiWdjnKP4HeX+J2
							Ew==
							</data>
							<key>Size</key>
							<integer>7915</integer>
						</dict>
						<key>files/archive-02-october-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							XTk1I6P7hLBQBQgoLDo2
							rA==
							</data>
							<key>Size</key>
							<integer>7856</integer>
						</dict>
						<key>files/archive-03-july-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							i8/1QXrpga+mEXy1HIG/
							SA==
							</data>
							<key>Size</key>
							<integer>9166</integer>
						</dict>
						<key>files/archive-04-september-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							OvQ1fmbazAq/oCickFyy
							Eg==
							</data>
							<key>Size</key>
							<integer>7559</integer>
						</dict>
						<key>files/archive-05-february-2012.php</key>
						<dict>
							<key>Digest</key>
							<data>
							hSdlMrzb6n4T0zm7PSPW
							4g==
							</data>
							<key>Size</key>
							<integer>7573</integer>
						</dict>
						<key>files/archive-06-november-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							rInYsno1COrxpB8OJqXF
							SA==
							</data>
							<key>Size</key>
							<integer>9139</integer>
						</dict>
						<key>files/archive-07-august-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							Lo78fAvjusQZcsxNr/IA
							zQ==
							</data>
							<key>Size</key>
							<integer>21644</integer>
						</dict>
						<key>files/archive-10-july-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							SQpM0jv6z2hMDkQgee7q
							Ug==
							</data>
							<key>Size</key>
							<integer>9861</integer>
						</dict>
						<key>files/archive-11-september-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							RdoQtlEgMHvIEQS68qGO
							qA==
							</data>
							<key>Size</key>
							<integer>13825</integer>
						</dict>
						<key>files/archive-13-november-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							XF3EwlQiue0Yi9bGkchi
							Lw==
							</data>
							<key>Size</key>
							<integer>8897</integer>
						</dict>
						<key>files/archive-14-august-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							BLXEikouMDkK7g58FXKi
							pQ==
							</data>
							<key>Size</key>
							<integer>6947</integer>
						</dict>
						<key>files/archive-15-january-2012.php</key>
						<dict>
							<key>Digest</key>
							<data>
							/V931KcxxTZl/ofh2clc
							Jg==
							</data>
							<key>Size</key>
							<integer>11038</integer>
						</dict>
						<key>files/archive-16-october-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							IL5QQOLiMVWeazBq8EmU
							LQ==
							</data>
							<key>Size</key>
							<integer>7299</integer>
						</dict>
						<key>files/archive-17-july-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							/cUTE4J7pihBXCp6SA5b
							6A==
							</data>
							<key>Size</key>
							<integer>10977</integer>
						</dict>
						<key>files/archive-18-december-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							RazAw69X2LMV0pS69cYr
							yw==
							</data>
							<key>Size</key>
							<integer>17031</integer>
						</dict>
						<key>files/archive-18-march-2012.php</key>
						<dict>
							<key>Digest</key>
							<data>
							JA5fzDhBXXPuC5OdBriU
							4w==
							</data>
							<key>Size</key>
							<integer>7774</integer>
						</dict>
						<key>files/archive-18-september-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							ftg8tGH3IkjM91jzO25k
							hQ==
							</data>
							<key>Size</key>
							<integer>9588</integer>
						</dict>
						<key>files/archive-20-november-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							4EEa67P3PQpanh9l3bNq
							Ww==
							</data>
							<key>Size</key>
							<integer>7511</integer>
						</dict>
						<key>files/archive-23-october-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							Mlh8GkKqIaIW7iq0lYXo
							ZQ==
							</data>
							<key>Size</key>
							<integer>10101</integer>
						</dict>
						<key>files/archive-24-june-2012.php</key>
						<dict>
							<key>Digest</key>
							<data>
							D48ahUJg7VPEsl/l4z0s
							hA==
							</data>
							<key>Size</key>
							<integer>7165</integer>
						</dict>
						<key>files/archive-26-june-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							d1f3WeNZhNEw+OSdx2s5
							1Q==
							</data>
							<key>Size</key>
							<integer>8513</integer>
						</dict>
						<key>files/archive-27-may-2012.php</key>
						<dict>
							<key>Digest</key>
							<data>
							Sp7z9EmZfEnkWYbmWanz
							uA==
							</data>
							<key>Size</key>
							<integer>7100</integer>
						</dict>
						<key>files/books.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							QExUFKFWIgb1Zd6fCzb9
							WA==
							</data>
							<key>Size</key>
							<integer>7848</integer>
						</dict>
						<key>files/category-books.php</key>
						<dict>
							<key>Digest</key>
							<data>
							e8HOoytAT9dKVLvxnCz7
							xw==
							</data>
							<key>Size</key>
							<integer>34307</integer>
						</dict>
						<key>files/category-justin-somper.php</key>
						<dict>
							<key>Digest</key>
							<data>
							MPXijwJmGV4722+3WiDm
							Mg==
							</data>
							<key>Size</key>
							<integer>12197</integer>
						</dict>
						<key>files/category-pirates.php</key>
						<dict>
							<key>Digest</key>
							<data>
							v3X3ot/eB/KWttluMGsy
							oQ==
							</data>
							<key>Size</key>
							<integer>12729</integer>
						</dict>
						<key>files/category-side-tracked.php</key>
						<dict>
							<key>Digest</key>
							<data>
							wOsiOLQPmeqIFzuN1QrF
							zg==
							</data>
							<key>Size</key>
							<integer>14655</integer>
						</dict>
						<key>files/category-theatre.php</key>
						<dict>
							<key>Digest</key>
							<data>
							e/EksXFjOETXVJWwtvh0
							eA==
							</data>
							<key>Size</key>
							<integer>33043</integer>
						</dict>
						<key>files/category-vampirates.php</key>
						<dict>
							<key>Digest</key>
							<data>
							VR0nZrpLa/hXyTwyDkMh
							xg==
							</data>
							<key>Size</key>
							<integer>14039</integer>
						</dict>
						<key>files/jollyroger.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							tz5j3bMYvjQZo4PpMD2g
							fg==
							</data>
							<key>Size</key>
							<integer>7571</integer>
						</dict>
						<key>files/kegs-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6oMLjAqMH70vW3oQiZti
							Bw==
							</data>
							<key>Size</key>
							<integer>6944</integer>
						</dict>
						<key>files/kegs.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6oMLjAqMH70vW3oQiZti
							Bw==
							</data>
							<key>Size</key>
							<integer>6944</integer>
						</dict>
						<key>files/mischa-glenny.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							zUmU1kRd+cMSeZmQXN0K
							PA==
							</data>
							<key>Size</key>
							<integer>3258</integer>
						</dict>
						<key>files/mouse.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/DGj3GJQ26ba1zgfImoN
							gQ==
							</data>
							<key>Size</key>
							<integer>5239</integer>
						</dict>
						<key>files/page12.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							3CrOos2mw0r7psr9WbZJ
							FQ==
							</data>
							<key>Size</key>
							<integer>62097</integer>
						</dict>
						<key>files/repairs.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Pjc9KH6uR3LYb/3f1k/b
							1g==
							</data>
							<key>Size</key>
							<integer>6480</integer>
						</dict>
						<key>files/sidebar-content.html</key>
						<dict>
							<key>Digest</key>
							<data>
							2ZqnAXONvGDfH2ddfmuL
							pQ==
							</data>
							<key>Size</key>
							<integer>5037</integer>
						</dict>
						<key>files/skullcufflinks.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							HJrKG8pHKr8KhVQLkA3C
							Hw==
							</data>
							<key>Size</key>
							<integer>2325</integer>
						</dict>
						<key>files/vampirates.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							U33PaslaRd8cVHErCR+8
							kw==
							</data>
							<key>Size</key>
							<integer>7705</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page12</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
