<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Creator</key>
	<string>RapidWeaver</string>
	<key>Minimum Application Version</key>
	<string>4.3.9</string>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>PublishingManifest</key>
				<dict>
					<key>rw:plugin:blog</key>
					<dict>
						<key>CreationDate</key>
						<date>2011-01-24T22:15:22Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
						<key>PageDigests</key>
						<dict>
							<key>rss.gif</key>
							<dict>
								<key>Digest</key>
								<data>
								ySu0h74kFZbd
								w1d11rHDPA==
								</data>
								<key>Size</key>
								<integer>219</integer>
							</dict>
							<key>smiley_angry.png</key>
							<dict>
								<key>Digest</key>
								<data>
								OsvBGlBtLs1C
								xAB3/F5vkA==
								</data>
								<key>Size</key>
								<integer>1275</integer>
							</dict>
							<key>smiley_embarrassed.png</key>
							<dict>
								<key>Digest</key>
								<data>
								Ok+zrbTJSQbz
								YHvbtXa5FQ==
								</data>
								<key>Size</key>
								<integer>1310</integer>
							</dict>
							<key>smiley_footinmouth.png</key>
							<dict>
								<key>Digest</key>
								<data>
								oNlmERQNe+Jv
								bhxYf6Q/sQ==
								</data>
								<key>Size</key>
								<integer>1254</integer>
							</dict>
							<key>smiley_gasp.png</key>
							<dict>
								<key>Digest</key>
								<data>
								3fIF+LsL4I97
								3PnZdsHYdg==
								</data>
								<key>Size</key>
								<integer>1208</integer>
							</dict>
							<key>smiley_laugh.png</key>
							<dict>
								<key>Digest</key>
								<data>
								aiKkmJLIzkmw
								I7ENY7ns/A==
								</data>
								<key>Size</key>
								<integer>1283</integer>
							</dict>
							<key>smiley_sad.png</key>
							<dict>
								<key>Digest</key>
								<data>
								JrI6GFcEDYoD
								NPeCi0NJDQ==
								</data>
								<key>Size</key>
								<integer>1263</integer>
							</dict>
							<key>smiley_smile.png</key>
							<dict>
								<key>Digest</key>
								<data>
								ek1FWaeOXYzG
								u9xa5IUf6A==
								</data>
								<key>Size</key>
								<integer>1240</integer>
							</dict>
							<key>smiley_wink.png</key>
							<dict>
								<key>Digest</key>
								<data>
								zIRR5aU+gUMZ
								uXop1aVLFA==
								</data>
								<key>Size</key>
								<integer>1236</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:plugin:blog</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
					<key>rw:theme:flancrest</key>
					<dict>
						<key>CreationDate</key>
						<date>2012-07-09T14:08:31Z</date>
						<key>DigestAlgorithm</key>
						<string>MD5</string>
						<key>DocumentGUID</key>
						<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
						<key>PageDigests</key>
						<dict>
							<key>.de1443.0d8/banners/banner_pacific.css</key>
							<dict>
								<key>Digest</key>
								<data>
								AnQwSZu5CNxl
								6qBRN2INIw==
								</data>
								<key>Size</key>
								<integer>89</integer>
							</dict>
							<key>css/alignment/align_center.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ysPHv4SqRsAO
								7LEiBcuyeg==
								</data>
								<key>Size</key>
								<integer>209</integer>
							</dict>
							<key>css/alignment/align_left.css</key>
							<dict>
								<key>Digest</key>
								<data>
								D2hHTmAQ6AwG
								WclhHcuanw==
								</data>
								<key>Size</key>
								<integer>85</integer>
							</dict>
							<key>css/banners/banner_beach.css</key>
							<dict>
								<key>Digest</key>
								<data>
								ULW7KO+ui1nC
								lDLbkbklIw==
								</data>
								<key>Size</key>
								<integer>79</integer>
							</dict>
							<key>css/banners/banner_computer.css</key>
							<dict>
								<key>Digest</key>
								<data>
								OUbtUlhff/1E
								C84Irwlqqg==
								</data>
								<key>Size</key>
								<integer>82</integer>
							</dict>
							<key>css/banners/banner_default.css</key>
							<dict>
								<key>Digest</key>
								<data>
								yNcdOjRzCYci
								Crvf5za9Dg==
								</data>
								<key>Size</key>
								<integer>257</integer>
							</dict>
							<key>css/banners/banner_pacific.css</key>
							<dict>
								<key>Digest</key>
								<data>
								AnQwSZu5CNxl
								6qBRN2INIw==
								</data>
								<key>Size</key>
								<integer>89</integer>
							</dict>
							<key>css/banners/banner_sunset.css</key>
							<dict>
								<key>Digest</key>
								<data>
								zhRU9UokXP/d
								3tA19HvpIQ==
								</data>
								<key>Size</key>
								<integer>80</integer>
							</dict>
							<key>css/sidebar/sidebar_hide.css</key>
							<dict>
								<key>Digest</key>
								<data>
								hD1yXD3Hvcw5
								xhpuM0VHpQ==
								</data>
								<key>Size</key>
								<integer>131</integer>
							</dict>
							<key>css/sidebar/sidebar_left.css</key>
							<dict>
								<key>Digest</key>
								<data>
								thxr9LHrh5JC
								K6lN0LKAGQ==
								</data>
								<key>Size</key>
								<integer>174</integer>
							</dict>
							<key>css/sidebar/sidebar_right.css</key>
							<dict>
								<key>Digest</key>
								<data>
								3+wnnSXbikAx
								+LwaS1e5eg==
								</data>
								<key>Size</key>
								<integer>283</integer>
							</dict>
							<key>css/styles/blue.css</key>
							<dict>
								<key>Digest</key>
								<data>
								vfmRNayfNlO6
								e3JGRjRriA==
								</data>
								<key>Size</key>
								<integer>1150</integer>
							</dict>
							<key>css/styles/pacific.css</key>
							<dict>
								<key>Digest</key>
								<data>
								yDkcM7zkJ9/1
								TsDwur6b0g==
								</data>
								<key>Size</key>
								<integer>1000</integer>
							</dict>
							<key>handheld.css</key>
							<dict>
								<key>Digest</key>
								<data>
								07dAiKdfcAsY
								fWEcJvxr5g==
								</data>
								<key>Size</key>
								<integer>6005</integer>
							</dict>
							<key>images/Twins.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								azN31qxh52IL
								+HIVwR4Tvw==
								</data>
								<key>Size</key>
								<integer>15309</integer>
							</dict>
							<key>images/VampiratesHeader.jpg</key>
							<dict>
								<key>Digest</key>
								<data>
								tfXJAQOHO/Ae
								X3E477zwzQ==
								</data>
								<key>Size</key>
								<integer>36791</integer>
							</dict>
							<key>images/beach_header.png</key>
							<dict>
								<key>Digest</key>
								<data>
								0Bci7152WReR
								X223GaRr3w==
								</data>
								<key>Size</key>
								<integer>131551</integer>
							</dict>
							<key>images/body_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								2OtN1t6FI4ED
								7kdAeRtcLg==
								</data>
								<key>Size</key>
								<integer>131</integer>
							</dict>
							<key>images/body_top_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								UBcWG5aTWvNb
								qF1vII9g3w==
								</data>
								<key>Size</key>
								<integer>163</integer>
							</dict>
							<key>images/computer_header.png</key>
							<dict>
								<key>Digest</key>
								<data>
								1NONf6e9NZbt
								qcsmXtxDwA==
								</data>
								<key>Size</key>
								<integer>137673</integer>
							</dict>
							<key>images/header_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								K+YXpZvlmxsF
								Caz6sZ9mPg==
								</data>
								<key>Size</key>
								<integer>247</integer>
							</dict>
							<key>images/pacific/header_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								FvGByGaGLGsV
								/lzwe+0M8Q==
								</data>
								<key>Size</key>
								<integer>181</integer>
							</dict>
							<key>images/pacific/pacific_header.png</key>
							<dict>
								<key>Digest</key>
								<data>
								KkdX0+RDqZS3
								5hOc6g1TNw==
								</data>
								<key>Size</key>
								<integer>107847</integer>
							</dict>
							<key>images/sidebar_bg.png</key>
							<dict>
								<key>Digest</key>
								<data>
								/uigGl0bOlho
								TKWxmujICQ==
								</data>
								<key>Size</key>
								<integer>131</integer>
							</dict>
							<key>images/sunset_header.png</key>
							<dict>
								<key>Digest</key>
								<data>
								AXTvff3HnkAc
								ZD2CbYlGfQ==
								</data>
								<key>Size</key>
								<integer>121236</integer>
							</dict>
							<key>javascript.js</key>
							<dict>
								<key>Digest</key>
								<data>
								n0dN9DfVcKHY
								MmVnniBKtw==
								</data>
								<key>Size</key>
								<integer>14608</integer>
							</dict>
							<key>print.css</key>
							<dict>
								<key>Digest</key>
								<data>
								X/YNLz1VR46q
								j+qGgZy7TA==
								</data>
								<key>Size</key>
								<integer>3796</integer>
							</dict>
							<key>styles.css</key>
							<dict>
								<key>Digest</key>
								<data>
								f3o1iDUot1ZZ
								lvGn+LNWXw==
								</data>
								<key>Size</key>
								<integer>7241</integer>
							</dict>
						</dict>
						<key>PageID</key>
						<string>rw:theme:flancrest</string>
						<key>Version</key>
						<integer>3</integer>
					</dict>
				</dict>
				<key>SiteAttributes</key>
				<dict>
					<key>AddCopyrightMailTo</key>
					<false/>
					<key>BaseURL</key>
					<string>http://www.tempesttwins.co.uk/</string>
					<key>ConsolidateCommonFilesMode</key>
					<integer>0</integer>
					<key>ContactText</key>
					<string>Contact Me</string>
					<key>CopyrightText</key>
					<string>© 2007 Ship's Mouse</string>
					<key>CopyrightTextUsed</key>
					<false/>
					<key>CruftlessLinksEnabled</key>
					<false/>
					<key>DefaultExportPath</key>
					<string></string>
					<key>DirectoryIndexFilenames</key>
					<array>
						<string>index.htm</string>
						<string>index.html</string>
						<string>index.php</string>
					</array>
					<key>EmailAddress</key>
					<string>mice@mindless.com</string>
					<key>FavIcon</key>
					<data>
					AAABAAIAEBAAAAAAAABoBQAAJgAAACAgAAAA
					AAAAqAgAAI4FAAAoAAAAEAAAACAAAAABAAgA
					AAAAAEABAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AP///wCAgIAAPz8/AMDAwABfX18AoKCgACAg
					IADf398AT09PAHBwcADw8PAALy8vALGxsQAO
					Dg4A0dHRAJaWlgDo6OgAyMjIAGdnZwCoqKgA
					FRUVAPj4+AAoKCgA2NjYALm5uQB5eXkAh4eH
					AAYGBgA1NTUARUVFABsbGwBKSkoAm5ubAPT0
					9AAKCgoA7OzsAM3NzQA7OzsArKysAGNjYwBs
					bGwAIyMjANvb2wDV1dUAMjIyAMXFxQC9vb0A
					c3NzAHZ2dgB9fX0Ag4ODAAwMDADq6uoA5ubm
					ACUlJQDh4eEALS0tAMrKygA9PT0Aw8PDAExM
					TAC3t7cAr6+vAKampgBqamoAnZ2dAIWFhQAF
					BQUACwsLAA0NDQDx8fEAFBQUAOvr6wAmJiYA
					2traANfX1wAxMTEA0tLSADMzMwDOzs4ANDQ0
					AMzMzADHx8cAwcHBAERERAC/v78AvLy8ALi4
					uABQUFAAsrKyAKurqwBkZGQAmpqaAHp6egAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/DQEB
					AQEBAQEBAQEBQi8AFEpVUEBOAQEBUydUUU1Y
					ABgkKSMKSwEBAUwoNDNHCAA1Uk4aHSA2AQg7
					AzIPEkcAASRXUytdTQUtQDhTVAsBAAEBAQEB
					W0ZISFoBAQEBAQABAQFWShwQIkNEOS4BAQEA
					AQExDilJQzkGERMOXgEBAAFcHisBRx8jDBYB
					TFVBAQBXGwEBBAcXIRUqTAEBMzwAOgEBASk+
					DUhQQgIBAQE6AAEBAQFZJjcAT1ETAQEBAQAB
					AQEBCQAAAAAAKQEBAQEAAQEBARkAAAAARSUB
					AQEBAAEBAQEBLEE9MDYBAQEBAQAAAAAAAAAA
					AAAAAAAAAACAAAAAgAAAAIAAAACAAAAAgAAA
					AIAAAACAAAAAgAAAAIAAAACAAAAAgAAAAIAA
					AACAAAAAgAAAAIAAAAD//wAAKAAAACAAAABA
					AAAAAQAIAAAAAACABAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAD///8Afn5+AL+/vwA/Pz8A39/f
					AJ+fnwAfHx8AXl5eAM/PzwAvLy8Abm5uAI+P
					jwDw8PAADw8PAE5OTgCurq4A6OjoABcXFwDX
					19cANzc3AMfHxwC2trYAVlZWAGZmZgCXl5cA
					dnZ2AIeHhwAHBwcA9/f3ACgoKABGRkYAp6en
					AAsLCwDs7OwA5OTkABsbGwDb29sAIyMjANPT
					0wAzMzMAy8vLADs7OwDDw8MAurq6AFpaWgCb
					m5sAampqAJOTkwBycnIAenp6AAMDAwD8/PwA
					9PT0ABQUFAArKysAQkJCALOzswBLS0sApKSk
					AGFhYQCMjIwA+vr6AAUFBQAJCQkA8vLyAA0N
					DQDu7u4A6urqABkZGQDi4uIAHR0dAN3d3QAh
					ISEA2dnZACUlJQDV1dUALS0tANHR0QDNzc0A
					NTU1AMnJyQA5OTkAxcXFAD09PQDBwcEAvb29
					ALi4uABQUFAArKysAFhYWACpqakAXFxcAKKi
					ogBjY2MAaGhoAJmZmQBsbGwAkZGRAHR0dAB4
					eHgAioqKAHx8fACFhYUAAQEBAAICAgD+/v4A
					/f39AAQEBAAGBgYA+fn5AAgICAD29vYACgoK
					APX19QAODg4A8fHxAO3t7QDr6+sAGBgYAOfn
					5wAcHBwA5eXlAB4eHgDj4+MA4eHhACQkJADg
					4OAA3t7eACkpKQDc3NwAKioqAC4uLgDW1tYA
					1NTUADIyMgDQ0NAANjY2AM7OzgA6OjoAzMzM
					ADw8PADIyMgAPj4+AMbGxgBBQUEAxMTEAEND
					QwDAwMAAR0dHAL6+vgC8vLwATU1NAE9PTwC1
					tbUAtLS0AFVVVQBdXV0AqKioAF9fXwClpaUA
					ZWVlAKGhoQCgoKAAnp6eAGlpaQCcnJwAa2tr
					AJqamgCYmJgAb29vAJaWlgCSkpIAd3d3AI6O
					jgB5eXkAjY2NAHt7ewCJiYkAiIiIAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					AAAAAQEBAQEBAQEBAQEBAQEBAQEBAQEBAQEB
					AQEBAQEBAQABMZhRAQEBAQEBAQEBAQEBAQEB
					AQEBAQEBAQGoOmUBAAEUAAebPgEBAQFWPgEB
					AQEBAQFDlwEBAQFGqBwApQEAASuccQCDpAEB
					YYk0AQEBAQEBARGBsgFBGnMAgaeCAQABLLMF
					gwAAF6OqoyUBAQEBAQEBKS6hqQoAAJlwMoUB
					AAGyTgFDXAAAaCNrswEBAQEBAQFiAZIAAEIb
					AQGSpAEAAaOaAQEBTHkAEmdgAQEBAQEBAbJm
					AAAqdQEBAV2QAQABcmYDHTWmAlYkAKEjAQEB
					AQETlQCJjhgGDSI7rgEBAAEBdKSmPUusQ6UE
					AG8MawFDrwAAVBsiZn6wYhZqAQEAAQEBAQFO
					XYCgVQEQJgCHZHsAFE8BlFl4oiIBAQEBAQAB
					AQEBAQEBAQEBAQENfgAAAJMBAQEBAQEBAQEB
					AQEBAAEBAQEBAQEBAQEBjpFoAGkAb1gnAQEB
					AQEBAQEBAQEAAQEBAQEBAQEBiA9oAACxhl4A
					AGwISAEBAQEBAQEBAQABAQEBAQEBcGZsAABL
					mmsBIlt3AAAOGzQBAQEBAQEBAAEBAQEBAY6D
					AAAhoUEpIHw9RHo8PwAAiQkBAQEBAQEAAQEB
					AQEwaAAOCwUBAY8hQGivAQGFC3EAbasBAQEB
					AQABAQEBPAAAX30BAQF/HAAAAItqAQEBSp8A
					AKoBAQEBAAEBa6EAjxUBAQEBAZYAAAAAbUEB
					AQEBASuNABoBAQEAAQFhALABAQEBAZI9OAAY
					rQQAnT2AAQEBAWpnAK0BAQABim9TAQEBAQF6
					cwAAABB8GgAAACo+AQEBAQFXIYIBAAEtqQEB
					AQEBAZ4AqhlSKKNHXD0fAH8BAQEBAQGzqgEA
					NK8BAQEBAQEBL0UBAQESc5EBAXBopgEBAQEB
					AW5jAQBwkgEBAQEBAQFQEh0jrHEASzkdhmin
					AQEBAQEBAVUBAAFqAQEBAQEBATcAJnMAAAAA
					AEk2AKcBAQEBAQEBagEAAQEBAQEBAQEBTQAA
					AAAAAAAAAAAAmQEBAQEBAQEBAQABAQEBAQEB
					AQEeAAAAAAAAAAAAAABaAQEBAQEBAQEBAAEB
					AQEBAQEBAVoAAAAAAAAAAAAAAKgBAQEBAQEB
					AQEAAQEBAQEBAQEBfHcAAAAAAAAAAACNbgEB
					AQEBAQEBAQABAQEBAQEBAQEBjHsAAAAAAAAA
					k3YBAQEBAQEBAQEBAAEBAQEBAQEBAQEBIq+E
					HDNzFC4BAQEBAQEBAQEBAQEAAQEBAQEBAQEB
					AQEBAQFydDQBAQEBAQEBAQEBAQEBAQAAAAAA
					AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
					gAAAAIAAAACAAAAAgAAAAIAAAACAAAAAgAAA
					AIAAAACAAAAAgAAAAIAAAACAAAAAgAAAAIAA
					AACAAAAAgAAAAIAAAACAAAAAgAAAAIAAAACA
					AAAAgAAAAIAAAACAAAAAgAAAAIAAAACAAAAA
					gAAAAIAAAACAAAAAgAAAAP////8=
					</data>
					<key>FavIconUsed</key>
					<true/>
					<key>ImageExportFormat</key>
					<integer>0</integer>
					<key>LogoUsed</key>
					<false/>
					<key>ObfuscateEmailAddress</key>
					<true/>
					<key>PreviewAfterExportRelativeToBaseURL</key>
					<false/>
					<key>ProcessPHP</key>
					<true/>
					<key>PublishingSettings</key>
					<dict>
						<key>publisher</key>
						<string>FTP</string>
						<key>settings</key>
						<dict>
							<key>anonymous</key>
							<false/>
							<key>enablePublicKeyAuthentication</key>
							<false/>
							<key>passiveMode</key>
							<true/>
							<key>path</key>
							<string>tempesttwins</string>
							<key>privateKeyPassphraseSaveInKeychain</key>
							<false/>
							<key>privateKeyPath</key>
							<string></string>
							<key>publicKeyPath</key>
							<string></string>
							<key>saveInKeychain</key>
							<true/>
							<key>server</key>
							<string>ftp.tarttelin.co.uk</string>
							<key>sftp</key>
							<false/>
							<key>user</key>
							<string>freya@tarttelin.co.uk</string>
						</dict>
					</dict>
					<key>PublishingSettingsConfigured</key>
					<false/>
					<key>ShowBreadcrumbTrail</key>
					<true/>
					<key>ShowTidiedCode</key>
					<true/>
					<key>SloganText</key>
					<string>A Vampirate Fan Site</string>
					<key>SloganUsed</key>
					<false/>
					<key>ThemeName</key>
					<string>Vampirates2</string>
					<key>TitleText</key>
					<string>Tempest Twins Fan Site</string>
					<key>TitleTextUsed</key>
					<false/>
					<key>UUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>WebClipIconUsed</key>
					<false/>
				</dict>
			</dict>
			<key>Files</key>
			<array>
				<string>README.txt</string>
			</array>
			<key>Subsandwiches</key>
			<array>
				<string>DefaultPageAttributes</string>
				<string>Pages</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>RapidWeaver Document</string>
</dict>
</plist>
