<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>The Vampirate Series Of Books</string>
				<key>ID</key>
				<string>page37</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Books</string>
				<key>PluginClassName</key>
				<string>RWStyledPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Styled Text</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-06-09T10:54:34Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>books.html</key>
						<dict>
							<key>Digest</key>
							<data>
							5UkcJDz3hlLkpAt9jD2z
							OQ==
							</data>
							<key>Size</key>
							<integer>12705</integer>
						</dict>
						<key>files/Empire.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							dizHJxerjnieThJCNdKg
							gg==
							</data>
							<key>Size</key>
							<integer>17597</integer>
						</dict>
						<key>files/EmpireUS.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							VC4xSIi7RaC3OZ11jom8
							qw==
							</data>
							<key>Size</key>
							<integer>15598</integer>
						</dict>
						<key>files/Marea_di_terrore.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							nksh0hnqqfzzZWzzC5Rg
							qA==
							</data>
							<key>Size</key>
							<integer>17042</integer>
						</dict>
						<key>files/VBK1_kirottujen laiva.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							5p5U9pokc/cnxiAJdBHF
							QQ==
							</data>
							<key>Size</key>
							<integer>14560</integer>
						</dict>
						<key>files/VBK2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							1a4NIuMDX9o1BVXA8Get
							dA==
							</data>
							<key>Size</key>
							<integer>14835</integer>
						</dict>
						<key>files/Vampiraten1.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							2WA11by3fbLpV+dZPmsP
							jQ==
							</data>
							<key>Size</key>
							<integer>18260</integer>
						</dict>
						<key>files/Vampiraten15.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oK0hP/C6GznaU6yTZfk3
							qg==
							</data>
							<key>Size</key>
							<integer>16510</integer>
						</dict>
						<key>files/Vampiraten15b.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							xjCsmIhIaTMUHddo0I/H
							mQ==
							</data>
							<key>Size</key>
							<integer>16434</integer>
						</dict>
						<key>files/Vampiraten2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							+qT0kB4ujXi7M2yQ5bBG
							iw==
							</data>
							<key>Size</key>
							<integer>17457</integer>
						</dict>
						<key>files/Vampiraten2b.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							r3mNy1DzXd4GeZb9Ra18
							mQ==
							</data>
							<key>Size</key>
							<integer>14038</integer>
						</dict>
						<key>files/Vampiraten3.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/vqtBj1T29U32GLJ4vEb
							VQ==
							</data>
							<key>Size</key>
							<integer>21068</integer>
						</dict>
						<key>files/Vampiraten3b.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							kAJ++fbPLcKuisUL7ZuZ
							Xw==
							</data>
							<key>Size</key>
							<integer>15670</integer>
						</dict>
						<key>files/Vampyrater1.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							TO+VaErNYb647j2GqBzN
							WA==
							</data>
							<key>Size</key>
							<integer>17054</integer>
						</dict>
						<key>files/Vampyrater2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Swq5dd8w9j/HnlXmgSCP
							nA==
							</data>
							<key>Size</key>
							<integer>15784</integer>
						</dict>
						<key>files/Verinen vuoksi.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							fcANI8qWcYdoWsK7spbN
							rA==
							</data>
							<key>Size</key>
							<integer>17762</integer>
						</dict>
						<key>files/Wampiracy1.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							4A5ncQ6ZhS2ZJcHhNT0o
							Yw==
							</data>
							<key>Size</key>
							<integer>22069</integer>
						</dict>
						<key>files/Wampiracy2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							D4c1aWXS3wEDdGtVCxrI
							tg==
							</data>
							<key>Size</key>
							<integer>18922</integer>
						</dict>
						<key>files/Wampiracy3.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							t+Iho/CsBvCX70fDzcBL
							MQ==
							</data>
							<key>Size</key>
							<integer>18330</integer>
						</dict>
						<key>files/blackheartuk.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							MeC3HfvYkEFdEla9Tapc
							YA==
							</data>
							<key>Size</key>
							<integer>20470</integer>
						</dict>
						<key>files/blackheartus.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							tMcMEe7bM4tPYhgQRbm6
							pg==
							</data>
							<key>Size</key>
							<integer>13857</integer>
						</dict>
						<key>files/bloodcaptain.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							sRl1SYJMUkSXsTkjuEwT
							UA==
							</data>
							<key>Size</key>
							<integer>15224</integer>
						</dict>
						<key>files/bloodcaptainuk.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oNtcRVu6/UFt0j9KoV+i
							HQ==
							</data>
							<key>Size</key>
							<integer>19921</integer>
						</dict>
						<key>files/bloodcaptainuk2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							1xNfNdC4+6MHPp8TfzcY
							XA==
							</data>
							<key>Size</key>
							<integer>20499</integer>
						</dict>
						<key>files/bloodcaptainus.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							js93kGY+QRoHHsp33wyq
							og==
							</data>
							<key>Size</key>
							<integer>19226</integer>
						</dict>
						<key>files/bluepeter.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							b/p61/vSRWKG/ccieTvn
							Xw==
							</data>
							<key>Size</key>
							<integer>7392</integer>
						</dict>
						<key>files/bookfair1.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							onnB9mIOLnBlAOdyBJ9x
							WQ==
							</data>
							<key>Size</key>
							<integer>46429</integer>
						</dict>
						<key>files/bookfair2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							1HxUdJZSn/1NoYqmUceD
							AA==
							</data>
							<key>Size</key>
							<integer>34048</integer>
						</dict>
						<key>files/deaddeep.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							0YCW4ZySf/MKQSQJPl3R
							ow==
							</data>
							<key>Size</key>
							<integer>20735</integer>
						</dict>
						<key>files/demonsoftheoceanes.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							o79/PTvIlM49uRCQr4uQ
							mw==
							</data>
							<key>Size</key>
							<integer>14320</integer>
						</dict>
						<key>files/demonsoftheoceanuk.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ZfnvMfdozTco3D7Xsn64
							Tg==
							</data>
							<key>Size</key>
							<integer>20463</integer>
						</dict>
						<key>files/demonsoftheoceanuk2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oIg3OnQcdfktPwUGTdij
							eA==
							</data>
							<key>Size</key>
							<integer>20223</integer>
						</dict>
						<key>files/demonsoftheoceanus.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							FgKTFFBKgJu8fqglTeUq
							Ng==
							</data>
							<key>Size</key>
							<integer>18102</integer>
						</dict>
						<key>files/der fluch des ozeans.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ZHgP8CKyWeESp9uCsBnd
							pA==
							</data>
							<key>Size</key>
							<integer>19539</integer>
						</dict>
						<key>files/tideofterroruk.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							DTR11dxv38Y4YgpZMtFE
							NQ==
							</data>
							<key>Size</key>
							<integer>19753</integer>
						</dict>
						<key>files/tideofterroruk2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							WNwPF19pfW1yDrAm5pZ+
							kA==
							</data>
							<key>Size</key>
							<integer>21876</integer>
						</dict>
						<key>files/tideofterrorus.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Lbo2ZezJ/KhWshY/qj7g
							AQ==
							</data>
							<key>Size</key>
							<integer>18874</integer>
						</dict>
						<key>files/vbk6_uk.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							4XC+o3cTc2GEZrrdQ1Cd
							vQ==
							</data>
							<key>Size</key>
							<integer>20794</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page37</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
