<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>TempestTwins Blog From January 2008</string>
				<key>ID</key>
				<string>page35</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Blog Jan 2008</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-09-12T11:12:51Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>files/3buccaneers.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							cs/K5ZhQ7ZQWD4WHeCmz
							wg==
							</data>
							<key>Size</key>
							<integer>6185</integer>
						</dict>
						<key>files/3swords.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							3qtymgTvEArydlBCoRAC
							2Q==
							</data>
							<key>Size</key>
							<integer>6507</integer>
						</dict>
						<key>files/archive-apr-2008.html</key>
						<dict>
							<key>Digest</key>
							<data>
							lsSZSZM/GijzxmWdrSFL
							nA==
							</data>
							<key>Size</key>
							<integer>17000</integer>
						</dict>
						<key>files/archive-feb-2008.html</key>
						<dict>
							<key>Digest</key>
							<data>
							7bgDb+v768bpzLUd5YTk
							sQ==
							</data>
							<key>Size</key>
							<integer>18564</integer>
						</dict>
						<key>files/archive-jan-2008.html</key>
						<dict>
							<key>Digest</key>
							<data>
							1VjOP6xRaBwe4AM3Vxic
							0Q==
							</data>
							<key>Size</key>
							<integer>27013</integer>
						</dict>
						<key>files/archive-mar-2008.html</key>
						<dict>
							<key>Digest</key>
							<data>
							mVn7phK1s1JSAy6HCg0G
							yw==
							</data>
							<key>Size</key>
							<integer>22239</integer>
						</dict>
						<key>files/archive-may-2008.html</key>
						<dict>
							<key>Digest</key>
							<data>
							ps2H6/b1fUuXXqcbQdrx
							ZA==
							</data>
							<key>Size</key>
							<integer>25724</integer>
						</dict>
						<key>files/blackbart.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YT2o4YrbplLB/EF2JZ2M
							Ng==
							</data>
							<key>Size</key>
							<integer>7340</integer>
						</dict>
						<key>files/bluepeter.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							b/p61/vSRWKG/ccieTvn
							Xw==
							</data>
							<key>Size</key>
							<integer>7392</integer>
						</dict>
						<key>files/books.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							QExUFKFWIgb1Zd6fCzb9
							WA==
							</data>
							<key>Size</key>
							<integer>7848</integer>
						</dict>
						<key>files/brightstar.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							AfrbJm99lDiYUSzFImEj
							/w==
							</data>
							<key>Size</key>
							<integer>6501</integer>
						</dict>
						<key>files/bud.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							36qeDuhP1TbyNB9gJLTV
							QQ==
							</data>
							<key>Size</key>
							<integer>7101</integer>
						</dict>
						<key>files/button.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							+og0ZIih1jZRtjqDSaiM
							Yg==
							</data>
							<key>Size</key>
							<integer>5577</integer>
						</dict>
						<key>files/cannon.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7XyDdjbw0VDLHv0WTvx8
							mA==
							</data>
							<key>Size</key>
							<integer>6560</integer>
						</dict>
						<key>files/category-books.html</key>
						<dict>
							<key>Digest</key>
							<data>
							HeYrkc0vJVXuqD8zg7Wm
							kw==
							</data>
							<key>Size</key>
							<integer>28962</integer>
						</dict>
						<key>files/category-justin-somper.html</key>
						<dict>
							<key>Digest</key>
							<data>
							aFuulZ020fXoxFLKtwIN
							Tw==
							</data>
							<key>Size</key>
							<integer>31122</integer>
						</dict>
						<key>files/category-pirates.html</key>
						<dict>
							<key>Digest</key>
							<data>
							Y9WHI/hXn0xrkNiIUimk
							iQ==
							</data>
							<key>Size</key>
							<integer>16346</integer>
						</dict>
						<key>files/category-tempest-twins.html</key>
						<dict>
							<key>Digest</key>
							<data>
							2a3UDc2NE0QzdjF8tneu
							fA==
							</data>
							<key>Size</key>
							<integer>37155</integer>
						</dict>
						<key>files/chest.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6RbW5+WiViQzmTaalk3T
							cw==
							</data>
							<key>Size</key>
							<integer>5764</integer>
						</dict>
						<key>files/comp2a.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							cNj2bVX2Vw2JMn016a1t
							PA==
							</data>
							<key>Size</key>
							<integer>16947</integer>
						</dict>
						<key>files/comp2b.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							TcoLDpSJvJ30WisEh444
							Ig==
							</data>
							<key>Size</key>
							<integer>18786</integer>
						</dict>
						<key>files/comp2c.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							AdwaZj9ouZ2jUd+q4F4I
							Cg==
							</data>
							<key>Size</key>
							<integer>16493</integer>
						</dict>
						<key>files/comp2d.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ZjvE5czYqwvOmJzt9E/x
							uQ==
							</data>
							<key>Size</key>
							<integer>11406</integer>
						</dict>
						<key>files/duckfoot.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Ijb8Z9kOPgebaih9J6as
							yg==
							</data>
							<key>Size</key>
							<integer>6397</integer>
						</dict>
						<key>files/ducksfoot.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Ijb8Z9kOPgebaih9J6as
							yg==
							</data>
							<key>Size</key>
							<integer>6397</integer>
						</dict>
						<key>files/earth.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							lP7Fs06CFq9fiTvNxMmC
							qA==
							</data>
							<key>Size</key>
							<integer>7736</integer>
						</dict>
						<key>files/jollyroger.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							tz5j3bMYvjQZo4PpMD2g
							fg==
							</data>
							<key>Size</key>
							<integer>7571</integer>
						</dict>
						<key>files/kegs.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6oMLjAqMH70vW3oQiZti
							Bw==
							</data>
							<key>Size</key>
							<integer>6944</integer>
						</dict>
						<key>files/mermaid.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							eIZk+7JC+VFKgEZvBsjv
							pA==
							</data>
							<key>Size</key>
							<integer>6655</integer>
						</dict>
						<key>files/mop.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							N4KmiazlJwIxyZUqDQ7r
							nQ==
							</data>
							<key>Size</key>
							<integer>7153</integer>
						</dict>
						<key>files/page35.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							NOpmA3d0lGdSYxyC7Xac
							8w==
							</data>
							<key>Size</key>
							<integer>60883</integer>
						</dict>
						<key>files/rapier.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/ompRdDZijLQFfHfyZ6B
							ng==
							</data>
							<key>Size</key>
							<integer>6127</integer>
						</dict>
						<key>files/rose.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ODfjsUzFuKXTI3KUKCPt
							AA==
							</data>
							<key>Size</key>
							<integer>6968</integer>
						</dict>
						<key>files/scroll.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							hMe4xUqhLx2E+hIZrSuZ
							WQ==
							</data>
							<key>Size</key>
							<integer>6517</integer>
						</dict>
						<key>files/ship.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7j0fOivkGbD89H/ZGtMI
							0A==
							</data>
							<key>Size</key>
							<integer>7484</integer>
						</dict>
						<key>files/treasure.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							73yvlvpZzMN+oSTsU1eH
							mQ==
							</data>
							<key>Size</key>
							<integer>5581</integer>
						</dict>
						<key>files/twins.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							kcS8IrDBtabOwW44bhPD
							3g==
							</data>
							<key>Size</key>
							<integer>6771</integer>
						</dict>
						<key>files/vampirate.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							i0OLOTnB0qr+I7MYxMcF
							Xw==
							</data>
							<key>Size</key>
							<integer>7645</integer>
						</dict>
						<key>files/vampirates.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							i0OLOTnB0qr+I7MYxMcF
							Xw==
							</data>
							<key>Size</key>
							<integer>7645</integer>
						</dict>
						<key>files/vampirekiss.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							FIhIQaltSCB8cLUH+6sj
							iQ==
							</data>
							<key>Size</key>
							<integer>7237</integer>
						</dict>
						<key>files/wait.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							fy2ak8i6Ai71IuGVYPzq
							Ig==
							</data>
							<key>Size</key>
							<integer>6750</integer>
						</dict>
						<key>files/wheel.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							AwGkWSAYDZMJXkN5G+uM
							6A==
							</data>
							<key>Size</key>
							<integer>5838</integer>
						</dict>
						<key>jan08.html</key>
						<dict>
							<key>Digest</key>
							<data>
							5fLJr/jlk1JgJm1SiWzB
							Pg==
							</data>
							<key>Size</key>
							<integer>16080</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page35</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
