<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Vampirate Lookalikes</string>
				<key>ID</key>
				<string>page2</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Lookalikes</string>
				<key>PluginClassName</key>
				<string>RWStyledPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Styled Text</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-06-06T11:45:17Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>files/bottles.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							VEWusvRrHP9Rs1CffTur
							rw==
							</data>
							<key>Size</key>
							<integer>6940</integer>
						</dict>
						<key>files/chengli.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YYdmDqsGoadlqoLghCWi
							dQ==
							</data>
							<key>Size</key>
							<integer>21779</integer>
						</dict>
						<key>files/crowsnest.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							CbK8Vt2PIE+XtKhkIw3c
							rg==
							</data>
							<key>Size</key>
							<integer>6561</integer>
						</dict>
						<key>files/duckfoot.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Ijb8Z9kOPgebaih9J6as
							yg==
							</data>
							<key>Size</key>
							<integer>6397</integer>
						</dict>
						<key>files/evilbroccoli.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							4exH5xHfFw652Pg8F3wG
							BQ==
							</data>
							<key>Size</key>
							<integer>6941</integer>
						</dict>
						<key>files/left.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ipPQhhkZp9LptTbbfRyR
							jg==
							</data>
							<key>Size</key>
							<integer>6620</integer>
						</dict>
						<key>files/lorcanfurey.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							rEDDnNZoqCCI4CGS7/tO
							5A==
							</data>
							<key>Size</key>
							<integer>21004</integer>
						</dict>
						<key>files/misstressofthedark.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ZixvlQhQ8ShFO1rbLHe2
							xA==
							</data>
							<key>Size</key>
							<integer>6725</integer>
						</dict>
						<key>files/moluccowrathe.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							W5ySnr/l3ZT/IoCRVhQ8
							aw==
							</data>
							<key>Size</key>
							<integer>21531</integer>
						</dict>
						<key>files/rose.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ODfjsUzFuKXTI3KUKCPt
							AA==
							</data>
							<key>Size</key>
							<integer>6968</integer>
						</dict>
						<key>files/sidorio.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							VVlq6vtzivCpagWOD4vM
							tg==
							</data>
							<key>Size</key>
							<integer>19200</integer>
						</dict>
						<key>files/tempesttwins.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							azN31qxh52IL+HIVwR4T
							vw==
							</data>
							<key>Size</key>
							<integer>15309</integer>
						</dict>
						<key>files/vampiratecaptain.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							eCyNLJsFpqitHEfMjJQF
							bQ==
							</data>
							<key>Size</key>
							<integer>21642</integer>
						</dict>
						<key>files/vampirates.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							i0OLOTnB0qr+I7MYxMcF
							Xw==
							</data>
							<key>Size</key>
							<integer>7645</integer>
						</dict>
						<key>files/vampire-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YhPoNRxb9qz87l93zubr
							ag==
							</data>
							<key>Size</key>
							<integer>6937</integer>
						</dict>
						<key>files/vampire-3.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YhPoNRxb9qz87l93zubr
							ag==
							</data>
							<key>Size</key>
							<integer>6937</integer>
						</dict>
						<key>files/vampire-4.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YhPoNRxb9qz87l93zubr
							ag==
							</data>
							<key>Size</key>
							<integer>6937</integer>
						</dict>
						<key>files/vampire.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YhPoNRxb9qz87l93zubr
							ag==
							</data>
							<key>Size</key>
							<integer>6937</integer>
						</dict>
						<key>files/vampirekiss-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							FIhIQaltSCB8cLUH+6sj
							iQ==
							</data>
							<key>Size</key>
							<integer>7237</integer>
						</dict>
						<key>files/vampirekiss.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							FIhIQaltSCB8cLUH+6sj
							iQ==
							</data>
							<key>Size</key>
							<integer>7237</integer>
						</dict>
						<key>lookalikes.html</key>
						<dict>
							<key>Digest</key>
							<data>
							zH8yI9oOnR/OUwjRjTT3
							xw==
							</data>
							<key>Size</key>
							<integer>18583</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page2</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
