<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RWCopyFiles</key>
	<array>
		<string>css</string>
		<string>styles.css</string>
		<string>print.css</string>
		<string>handheld.css</string>
		<string>javascript.js</string>
		<string>images</string>
	</array>
	<key>RWStyleVariations</key>
	<dict>
		<key>RWStyleGroups</key>
		<array>
			<dict>
				<key>GroupDisplayName</key>
				<dict>
					<key>de</key>
					<string>Stil</string>
					<key>en</key>
					<string>Styles</string>
					<key>fr</key>
					<string>Style</string>
					<key>it</key>
					<string>Stili</string>
					<key>ja</key>
					<string>スタイル</string>
				</dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Blau</string>
							<key>en</key>
							<string>Blue</string>
							<key>fr</key>
							<string>Bleu</string>
							<key>it</key>
							<string>Blu</string>
							<key>ja</key>
							<string>青</string>
						</dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/styles/blue.css</string>
						</array>
						<key>Name</key>
						<string>Blue</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Weinrot</string>
							<key>en</key>
							<string>Pacific</string>
							<key>fr</key>
							<string>Pacifique</string>
							<key>it</key>
							<string>Pacifico</string>
							<key>ja</key>
							<string>パシフィック</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/styles/pacific.css</string>
						</array>
						<key>Name</key>
						<string>Pacific</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Styles</string>
				<key>GroupSelectionLimit</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>GroupDisplayName</key>
				<dict>
					<key>de</key>
					<string>Ausrichtung</string>
					<key>en</key>
					<string>Alignment</string>
					<key>fr</key>
					<string>Alignement</string>
					<key>it</key>
					<string>Allineamento</string>
					<key>ja</key>
					<string>揃え</string>
				</dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Links</string>
							<key>en</key>
							<string>Left</string>
							<key>fr</key>
							<string>À gauche</string>
							<key>it</key>
							<string>Sinistra</string>
							<key>ja</key>
							<string>左</string>
						</dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/alignment/align_left.css</string>
						</array>
						<key>Name</key>
						<string>Left</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Mitte</string>
							<key>en</key>
							<string>Centered</string>
							<key>fr</key>
							<string>Centré</string>
							<key>it</key>
							<string>Centrato</string>
							<key>ja</key>
							<string>中央</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/alignment/align_center.css</string>
						</array>
						<key>Name</key>
						<string>Centered</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Alignment</string>
				<key>GroupSelectionLimit</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>GroupDisplayName</key>
				<dict>
					<key>de</key>
					<string>Banner</string>
					<key>en</key>
					<string>Banners</string>
					<key>fr</key>
					<string>Image</string>
					<key>it</key>
					<string>Banner</string>
					<key>ja</key>
					<string>バナー</string>
				</dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Standard</string>
							<key>en</key>
							<string>Default</string>
							<key>fr</key>
							<string>Par défaut</string>
							<key>it</key>
							<string>Default</string>
							<key>ja</key>
							<string>デフォルト</string>
						</dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/banners/banner_default.css</string>
						</array>
						<key>Name</key>
						<string>Default</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Computer</string>
							<key>en</key>
							<string>Computer</string>
							<key>fr</key>
							<string>Ordinateur</string>
							<key>it</key>
							<string>Computer</string>
							<key>ja</key>
							<string>コンピュータ</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/banners/banner_computer.css</string>
						</array>
						<key>Name</key>
						<string>Computer</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Brücke</string>
							<key>en</key>
							<string>Pacific Header</string>
							<key>fr</key>
							<string>Pacifique</string>
							<key>it</key>
							<string>Pacifico</string>
							<key>ja</key>
							<string>パシフィック見出し</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/banners/banner_pacific.css</string>
						</array>
						<key>Name</key>
						<string>Pacific Header</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Sonnenuntergang</string>
							<key>en</key>
							<string>Sunset</string>
							<key>fr</key>
							<string>Coucher de soleil</string>
							<key>it</key>
							<string>Tramonto</string>
							<key>ja</key>
							<string>夕暮れ</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/banners/banner_sunset.css</string>
						</array>
						<key>Name</key>
						<string>Sunset</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Strand</string>
							<key>en</key>
							<string>Beach</string>
							<key>fr</key>
							<string>Plage</string>
							<key>it</key>
							<string>Spiaggia</string>
							<key>ja</key>
							<string>海辺</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/banners/banner_beach.css</string>
						</array>
						<key>Name</key>
						<string>Beach</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Banners</string>
				<key>GroupSelectionLimit</key>
				<integer>1</integer>
			</dict>
			<dict>
				<key>GroupDisplayName</key>
				<dict>
					<key>de</key>
					<string>Menü</string>
					<key>en</key>
					<string>Sidebar</string>
					<key>fr</key>
					<string>Barre latérale</string>
					<key>it</key>
					<string>Barra laterale</string>
					<key>ja</key>
					<string>サイドバー</string>
				</dict>
				<key>GroupMembers</key>
				<array>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Links</string>
							<key>en</key>
							<string>Left</string>
							<key>fr</key>
							<string>À gauche</string>
							<key>it</key>
							<string>Sinistra</string>
							<key>ja</key>
							<string>左</string>
						</dict>
						<key>Enabled</key>
						<true/>
						<key>Files</key>
						<array>
							<string>css/sidebar/sidebar_left.css</string>
						</array>
						<key>Name</key>
						<string>Left</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Rechts</string>
							<key>en</key>
							<string>Right</string>
							<key>fr</key>
							<string>À droite</string>
							<key>it</key>
							<string>Destra</string>
							<key>ja</key>
							<string>右</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/sidebar/sidebar_right.css</string>
						</array>
						<key>Name</key>
						<string>Right</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
					<dict>
						<key>DisplayName</key>
						<dict>
							<key>de</key>
							<string>Ausblenden</string>
							<key>en</key>
							<string>Hide</string>
							<key>fr</key>
							<string>Masquée</string>
							<key>it</key>
							<string>Nascondi</string>
							<key>ja</key>
							<string>隠す</string>
						</dict>
						<key>Enabled</key>
						<false/>
						<key>Files</key>
						<array>
							<string>css/sidebar/sidebar_hide.css</string>
						</array>
						<key>Name</key>
						<string>Hide</string>
						<key>Type</key>
						<string>Stylesheet</string>
					</dict>
				</array>
				<key>GroupName</key>
				<string>Sidebar</string>
				<key>GroupSelectionLimit</key>
				<integer>1</integer>
			</dict>
		</array>
	</dict>
	<key>RWTemplateHTML</key>
	<string>index.html</string>
	<key>RWTextToolbar</key>
	<dict>
		<key>RWAlwaysDisplayFullNavigation</key>
		<false/>
		<key>RWBreadCrumb</key>
		<string>&lt;ul&gt;%items%&lt;/ul&gt;</string>
		<key>RWBreadCrumbItem</key>
		<string>&lt;li&gt;&lt;a href="%url%"&gt;%title%&lt;/a&gt;%separator%&lt;/li&gt;</string>
		<key>RWBreadCrumbSeparator</key>
		<string>&amp;nbsp;&gt;&amp;nbsp;</string>
		<key>RWSupportedLevels</key>
		<integer>4</integer>
		<key>RWToolbarItemCurrent</key>
		<string>&lt;li&gt;&lt;a href="%url%" rel="%rel%" id="current"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemCurrentAncestor</key>
		<string>&lt;li&gt;&lt;a href="%url%" rel="%rel%" class="currentAncestor"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarItemNormal</key>
		<string>&lt;li&gt;&lt;a href="%url%" rel="%rel%"&gt;%title%&lt;/a&gt;%subitems%&lt;/li&gt;</string>
		<key>RWToolbarList</key>
		<string>&lt;ul&gt;%items%&lt;/ul&gt;</string>
	</dict>
	<key>RWThemeAuthor</key>
	<string>Chris Tarttelin</string>
	<key>RWThemeCapabilities</key>
	<dict>
		<key>RWSupportsContentOnlySubPages</key>
		<true/>
		<key>RWSupportsDisplayNames</key>
		<true/>
		<key>RWSupportsPathTo</key>
		<true/>
		<key>RWSupportsToolbarRelTag</key>
		<true/>
	</dict>
	<key>RWThemeDisplayName</key>
	<dict>
		<key>de</key>
		<string>Vampirates2</string>
		<key>en</key>
		<string>Vampirates2</string>
		<key>fr</key>
		<string>Vampirates2</string>
		<key>it</key>
		<string>Vampirates2</string>
		<key>ja</key>
		<string>Vampirates2</string>
	</dict>
	<key>RWThemeImage</key>
	<string>preview.png</string>
	<key>RWThemeName</key>
	<string>Vampirates2</string>
	<key>RWThemeShortName</key>
	<string>flancrest</string>
	<key>RWVersion</key>
	<integer>1</integer>
</dict>
</plist>
