<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Tempest Twin Crew</string>
				<key>ID</key>
				<string>page18</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Our Crew</string>
				<key>PluginClassName</key>
				<string>RWStyledPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Styled Text</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-06-17T13:41:39Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>files/adder.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							UoDs6LK4X3uJQ0JigTAF
							4w==
							</data>
							<key>Size</key>
							<integer>6924</integer>
						</dict>
						<key>files/angel.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Vo8u6hC6LSz3KFvhMUrr
							pA==
							</data>
							<key>Size</key>
							<integer>6730</integer>
						</dict>
						<key>files/apple.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OGCu53ztk6VDB+4at3C3
							qg==
							</data>
							<key>Size</key>
							<integer>7062</integer>
						</dict>
						<key>files/baguette.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							F3imNXlpiVUWTrCJmiTm
							wA==
							</data>
							<key>Size</key>
							<integer>6556</integer>
						</dict>
						<key>files/blackbart.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YT2o4YrbplLB/EF2JZ2M
							Ng==
							</data>
							<key>Size</key>
							<integer>7340</integer>
						</dict>
						<key>files/bolinusbrandaris.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							HLQOhMXohLh6mieUH5UT
							Sg==
							</data>
							<key>Size</key>
							<integer>6605</integer>
						</dict>
						<key>files/books.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							QExUFKFWIgb1Zd6fCzb9
							WA==
							</data>
							<key>Size</key>
							<integer>7848</integer>
						</dict>
						<key>files/bookworm.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							o/RYC3n0aOR5jUbGLXz8
							jw==
							</data>
							<key>Size</key>
							<integer>7078</integer>
						</dict>
						<key>files/bottles.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							VEWusvRrHP9Rs1CffTur
							rw==
							</data>
							<key>Size</key>
							<integer>6940</integer>
						</dict>
						<key>files/brightstar.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							AfrbJm99lDiYUSzFImEj
							/w==
							</data>
							<key>Size</key>
							<integer>6501</integer>
						</dict>
						<key>files/bubbles.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							GVRC1A9G/2ipa6RoNUPN
							Xg==
							</data>
							<key>Size</key>
							<integer>7252</integer>
						</dict>
						<key>files/bud.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							36qeDuhP1TbyNB9gJLTV
							QQ==
							</data>
							<key>Size</key>
							<integer>7101</integer>
						</dict>
						<key>files/cannon.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7XyDdjbw0VDLHv0WTvx8
							mA==
							</data>
							<key>Size</key>
							<integer>6560</integer>
						</dict>
						<key>files/chest.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6RbW5+WiViQzmTaalk3T
							cw==
							</data>
							<key>Size</key>
							<integer>5764</integer>
						</dict>
						<key>files/coins.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							44VLYCSlxsuyqmHN0whu
							Xg==
							</data>
							<key>Size</key>
							<integer>6896</integer>
						</dict>
						<key>files/crowsnest.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							CbK8Vt2PIE+XtKhkIw3c
							rg==
							</data>
							<key>Size</key>
							<integer>6561</integer>
						</dict>
						<key>files/dagger.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							JulBE95QHVwGJpwGCQl4
							Zw==
							</data>
							<key>Size</key>
							<integer>6649</integer>
						</dict>
						<key>files/dragon.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							a3CkYq0WZ+Z2moGisTq3
							Rg==
							</data>
							<key>Size</key>
							<integer>7619</integer>
						</dict>
						<key>files/duckfoot.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Ijb8Z9kOPgebaih9J6as
							yg==
							</data>
							<key>Size</key>
							<integer>6397</integer>
						</dict>
						<key>files/earth.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							lP7Fs06CFq9fiTvNxMmC
							qA==
							</data>
							<key>Size</key>
							<integer>7736</integer>
						</dict>
						<key>files/evilbroccoli.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							4exH5xHfFw652Pg8F3wG
							BQ==
							</data>
							<key>Size</key>
							<integer>6941</integer>
						</dict>
						<key>files/gladiator.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							FjJz8iCVl7J6zgr0CYgA
							CQ==
							</data>
							<key>Size</key>
							<integer>7188</integer>
						</dict>
						<key>files/jollyroger.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							tz5j3bMYvjQZo4PpMD2g
							fg==
							</data>
							<key>Size</key>
							<integer>7571</integer>
						</dict>
						<key>files/left.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ipPQhhkZp9LptTbbfRyR
							jg==
							</data>
							<key>Size</key>
							<integer>6620</integer>
						</dict>
						<key>files/mermaid.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							eIZk+7JC+VFKgEZvBsjv
							pA==
							</data>
							<key>Size</key>
							<integer>6655</integer>
						</dict>
						<key>files/misstressofthedark.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ZixvlQhQ8ShFO1rbLHe2
							xA==
							</data>
							<key>Size</key>
							<integer>6725</integer>
						</dict>
						<key>files/mop.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							N4KmiazlJwIxyZUqDQ7r
							nQ==
							</data>
							<key>Size</key>
							<integer>7153</integer>
						</dict>
						<key>files/mouse.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/DGj3GJQ26ba1zgfImoN
							gQ==
							</data>
							<key>Size</key>
							<integer>5239</integer>
						</dict>
						<key>files/ninetails.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							W86M60+LhS2JtMFb5xNh
							Bw==
							</data>
							<key>Size</key>
							<integer>7248</integer>
						</dict>
						<key>files/page18_22.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							qVBXRu9TI3OuRJwsDYW2
							xQ==
							</data>
							<key>Size</key>
							<integer>3439</integer>
						</dict>
						<key>files/pawprint.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							K0YvEM8XowoODQa5Lwyd
							Pw==
							</data>
							<key>Size</key>
							<integer>4648</integer>
						</dict>
						<key>files/rackham.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							bFT+OQtKD+J12iFAGN42
							3w==
							</data>
							<key>Size</key>
							<integer>7533</integer>
						</dict>
						<key>files/repairs.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Pjc9KH6uR3LYb/3f1k/b
							1g==
							</data>
							<key>Size</key>
							<integer>6480</integer>
						</dict>
						<key>files/ring-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/ring.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/roc.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ig+RlUX4dPQi9CV4rP38
							+w==
							</data>
							<key>Size</key>
							<integer>6678</integer>
						</dict>
						<key>files/rose.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ODfjsUzFuKXTI3KUKCPt
							AA==
							</data>
							<key>Size</key>
							<integer>6968</integer>
						</dict>
						<key>files/samurai.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							+naV+2MJNftHtb1zyAoY
							zA==
							</data>
							<key>Size</key>
							<integer>7110</integer>
						</dict>
						<key>files/ship.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7j0fOivkGbD89H/ZGtMI
							0A==
							</data>
							<key>Size</key>
							<integer>7484</integer>
						</dict>
						<key>files/sq_buns.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							IPxhIUM1EuvXDJQ/JjuC
							gw==
							</data>
							<key>Size</key>
							<integer>7093</integer>
						</dict>
						<key>files/twins.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							kcS8IrDBtabOwW44bhPD
							3g==
							</data>
							<key>Size</key>
							<integer>6771</integer>
						</dict>
						<key>files/vampirates.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							i0OLOTnB0qr+I7MYxMcF
							Xw==
							</data>
							<key>Size</key>
							<integer>7645</integer>
						</dict>
						<key>files/vampire.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YhPoNRxb9qz87l93zubr
							ag==
							</data>
							<key>Size</key>
							<integer>6937</integer>
						</dict>
						<key>files/vampirekiss.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							FIhIQaltSCB8cLUH+6sj
							iQ==
							</data>
							<key>Size</key>
							<integer>7237</integer>
						</dict>
						<key>files/wait.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							fy2ak8i6Ai71IuGVYPzq
							Ig==
							</data>
							<key>Size</key>
							<integer>6750</integer>
						</dict>
						<key>files/wheel.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							AwGkWSAYDZMJXkN5G+uM
							6A==
							</data>
							<key>Size</key>
							<integer>5838</integer>
						</dict>
						<key>ourcrew.html</key>
						<dict>
							<key>Digest</key>
							<data>
							QWg0TikI3SnEijUXGY57
							NQ==
							</data>
							<key>Size</key>
							<integer>41993</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page18</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
