<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>TempestTwins Blog From January 2010</string>
				<key>ID</key>
				<string>page27</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Blog Jan 2010</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-09-12T11:12:45Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>files/Empire.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							usQ7XTuMey4HRcYGjF0z
							xQ==
							</data>
							<key>Size</key>
							<integer>6571</integer>
						</dict>
						<key>files/EmpireUS.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							LIhoUWwKaB6A91bHYlt5
							SA==
							</data>
							<key>Size</key>
							<integer>6076</integer>
						</dict>
						<key>files/archive-apr-2010.php</key>
						<dict>
							<key>Digest</key>
							<data>
							STx4D57welWYhpJG1jJ6
							lA==
							</data>
							<key>Size</key>
							<integer>17630</integer>
						</dict>
						<key>files/archive-feb-2010.php</key>
						<dict>
							<key>Digest</key>
							<data>
							yTnsYPdIjIhtoL2sxMDY
							pg==
							</data>
							<key>Size</key>
							<integer>26754</integer>
						</dict>
						<key>files/archive-jan-2010.php</key>
						<dict>
							<key>Digest</key>
							<data>
							cEFIxm5hzM0WRkz4LDSZ
							Pw==
							</data>
							<key>Size</key>
							<integer>18996</integer>
						</dict>
						<key>files/archive-mar-2010.php</key>
						<dict>
							<key>Digest</key>
							<data>
							FZhhCiwIv2aYopZz7bvH
							GA==
							</data>
							<key>Size</key>
							<integer>45139</integer>
						</dict>
						<key>files/archive-may-2010.php</key>
						<dict>
							<key>Digest</key>
							<data>
							2OS5HgZUohI+JAmdjMN7
							2w==
							</data>
							<key>Size</key>
							<integer>14263</integer>
						</dict>
						<key>files/bluepeter.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							b/p61/vSRWKG/ccieTvn
							Xw==
							</data>
							<key>Size</key>
							<integer>7392</integer>
						</dict>
						<key>files/books.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							QExUFKFWIgb1Zd6fCzb9
							WA==
							</data>
							<key>Size</key>
							<integer>7848</integer>
						</dict>
						<key>files/category-artwork.php</key>
						<dict>
							<key>Digest</key>
							<data>
							oUI62Bau0sgAvS1H1WYK
							gw==
							</data>
							<key>Size</key>
							<integer>7463</integer>
						</dict>
						<key>files/category-books.php</key>
						<dict>
							<key>Digest</key>
							<data>
							Vf7GmLD0s6IWLCKx3RHH
							nw==
							</data>
							<key>Size</key>
							<integer>42909</integer>
						</dict>
						<key>files/category-events.php</key>
						<dict>
							<key>Digest</key>
							<data>
							VetLB7CGr5yHWvLYmXBS
							bA==
							</data>
							<key>Size</key>
							<integer>10897</integer>
						</dict>
						<key>files/category-justin-somper.php</key>
						<dict>
							<key>Digest</key>
							<data>
							FtrmtVwRzbmULx3Del6T
							lQ==
							</data>
							<key>Size</key>
							<integer>48282</integer>
						</dict>
						<key>files/category-pirates.php</key>
						<dict>
							<key>Digest</key>
							<data>
							k4YGaO635ka+d+IYJikH
							Sw==
							</data>
							<key>Size</key>
							<integer>19226</integer>
						</dict>
						<key>files/category-side-tracked.php</key>
						<dict>
							<key>Digest</key>
							<data>
							4mbkDZ89XljRuTKLGOMc
							fw==
							</data>
							<key>Size</key>
							<integer>14163</integer>
						</dict>
						<key>files/category-tempesttwins.php</key>
						<dict>
							<key>Digest</key>
							<data>
							0RFXFL2vWHmT33Bgl+M6
							oA==
							</data>
							<key>Size</key>
							<integer>10747</integer>
						</dict>
						<key>files/mop.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							N4KmiazlJwIxyZUqDQ7r
							nQ==
							</data>
							<key>Size</key>
							<integer>7153</integer>
						</dict>
						<key>files/mouse.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/DGj3GJQ26ba1zgfImoN
							gQ==
							</data>
							<key>Size</key>
							<integer>5239</integer>
						</dict>
						<key>files/page27.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							gRP4vKpZBLRA7709BUqY
							/Q==
							</data>
							<key>Size</key>
							<integer>75950</integer>
						</dict>
						<key>files/page27_blog_entry314_2.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page27_blog_entry314_3.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/pirateparty.png</key>
						<dict>
							<key>Digest</key>
							<data>
							qhas6qIZ9AK9FONBGHwn
							FA==
							</data>
							<key>Size</key>
							<integer>5432</integer>
						</dict>
						<key>files/samurai.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							+naV+2MJNftHtb1zyAoY
							zA==
							</data>
							<key>Size</key>
							<integer>7110</integer>
						</dict>
						<key>files/ship.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7j0fOivkGbD89H/ZGtMI
							0A==
							</data>
							<key>Size</key>
							<integer>7484</integer>
						</dict>
						<key>files/sidebar-content.html</key>
						<dict>
							<key>Digest</key>
							<data>
							75LrCoCMmZzIZmEomZe1
							8Q==
							</data>
							<key>Size</key>
							<integer>1300</integer>
						</dict>
						<key>files/tankard.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							gLgudMb5qO3ZnX28fXYP
							Aw==
							</data>
							<key>Size</key>
							<integer>5691</integer>
						</dict>
						<key>files/twins.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							kcS8IrDBtabOwW44bhPD
							3g==
							</data>
							<key>Size</key>
							<integer>6771</integer>
						</dict>
						<key>files/vampirates.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							U33PaslaRd8cVHErCR+8
							kw==
							</data>
							<key>Size</key>
							<integer>7705</integer>
						</dict>
						<key>jan10.php</key>
						<dict>
							<key>Digest</key>
							<data>
							AkwkaX2vihiowPc1RLzn
							vw==
							</data>
							<key>Size</key>
							<integer>17286</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page27</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
