<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>TempestTwins Blog From Jan 2011</string>
				<key>ID</key>
				<string>page73</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Blog Jan 2011</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2012-07-09T14:08:17Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>files/BlogTour.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							8cLdIJ0SHDn+km0sdK14
							eg==
							</data>
							<key>Size</key>
							<integer>228706</integer>
						</dict>
						<key>files/Immortal War.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							8AqqF3H8JFOgnw0LIIzz
							Ig==
							</data>
							<key>Size</key>
							<integer>7000</integer>
						</dict>
						<key>files/ImmortalWar.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							8AqqF3H8JFOgnw0LIIzz
							Ig==
							</data>
							<key>Size</key>
							<integer>7000</integer>
						</dict>
						<key>files/MaKettleSq.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Zs+XYuMU/8VkFhBrhXfs
							Bg==
							</data>
							<key>Size</key>
							<integer>1864</integer>
						</dict>
						<key>files/Sq_RND.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							o76Y5NFkGtGxw2zx5FVX
							/A==
							</data>
							<key>Size</key>
							<integer>6084</integer>
						</dict>
						<key>files/Sq_Rackham.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							bFT+OQtKD+J12iFAGN42
							3w==
							</data>
							<key>Size</key>
							<integer>7533</integer>
						</dict>
						<key>files/archive-apr-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							Gn2IMTq/HoG2Jh+i3vuy
							Dg==
							</data>
							<key>Size</key>
							<integer>13518</integer>
						</dict>
						<key>files/archive-feb-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							jauar/TPWRE/MMvmsjgo
							Iw==
							</data>
							<key>Size</key>
							<integer>18044</integer>
						</dict>
						<key>files/archive-jan-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							gqNDebF/3qzeyUTC/3HN
							bg==
							</data>
							<key>Size</key>
							<integer>12238</integer>
						</dict>
						<key>files/archive-mar-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							eqHkMLiXZEw3/m7cuV8S
							Og==
							</data>
							<key>Size</key>
							<integer>17235</integer>
						</dict>
						<key>files/archive-may-2011.php</key>
						<dict>
							<key>Digest</key>
							<data>
							qU5v+xDMRVvTqBcXaWz8
							rQ==
							</data>
							<key>Size</key>
							<integer>23055</integer>
						</dict>
						<key>files/blackbart.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YT2o4YrbplLB/EF2JZ2M
							Ng==
							</data>
							<key>Size</key>
							<integer>7340</integer>
						</dict>
						<key>files/books.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							QExUFKFWIgb1Zd6fCzb9
							WA==
							</data>
							<key>Size</key>
							<integer>7848</integer>
						</dict>
						<key>files/category-books.php</key>
						<dict>
							<key>Digest</key>
							<data>
							BQu3ZccyjQB9eGzKXOYu
							uw==
							</data>
							<key>Size</key>
							<integer>53398</integer>
						</dict>
						<key>files/category-events.php</key>
						<dict>
							<key>Digest</key>
							<data>
							2mdt+o6HVYoqNi/ebj7n
							ig==
							</data>
							<key>Size</key>
							<integer>8132</integer>
						</dict>
						<key>files/category-justin-somper.php</key>
						<dict>
							<key>Digest</key>
							<data>
							NS6Mx7O4BpgNKexS686z
							Jg==
							</data>
							<key>Size</key>
							<integer>38013</integer>
						</dict>
						<key>files/category-pirates.php</key>
						<dict>
							<key>Digest</key>
							<data>
							Uber6bRmv24PAB7HQflu
							RA==
							</data>
							<key>Size</key>
							<integer>14461</integer>
						</dict>
						<key>files/category-side-tracked.php</key>
						<dict>
							<key>Digest</key>
							<data>
							B5VHSAlhglqH+beQjQeL
							3w==
							</data>
							<key>Size</key>
							<integer>9553</integer>
						</dict>
						<key>files/category-tempesttwins.php</key>
						<dict>
							<key>Digest</key>
							<data>
							xtllzbAVGLnV+ekW99KH
							Gg==
							</data>
							<key>Size</key>
							<integer>7536</integer>
						</dict>
						<key>files/category-theatre.php</key>
						<dict>
							<key>Digest</key>
							<data>
							1zCvtyKvbxq2jGlyxKST
							tA==
							</data>
							<key>Size</key>
							<integer>7152</integer>
						</dict>
						<key>files/category-tour.php</key>
						<dict>
							<key>Digest</key>
							<data>
							fIWClPhlsf7wfEv1nIDH
							VQ==
							</data>
							<key>Size</key>
							<integer>38629</integer>
						</dict>
						<key>files/category-vampirates.php</key>
						<dict>
							<key>Digest</key>
							<data>
							wMEEiZPsUQwE/diR1794
							dQ==
							</data>
							<key>Size</key>
							<integer>7068</integer>
						</dict>
						<key>files/jollyroger.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							tz5j3bMYvjQZo4PpMD2g
							fg==
							</data>
							<key>Size</key>
							<integer>7571</integer>
						</dict>
						<key>files/left.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ipPQhhkZp9LptTbbfRyR
							jg==
							</data>
							<key>Size</key>
							<integer>6620</integer>
						</dict>
						<key>files/mouse.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/DGj3GJQ26ba1zgfImoN
							gQ==
							</data>
							<key>Size</key>
							<integer>5239</integer>
						</dict>
						<key>files/page73.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							RJjJF7x6UFvNJfK413qq
							ew==
							</data>
							<key>Size</key>
							<integer>84717</integer>
						</dict>
						<key>files/page73_blog_entry383_1.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							vHOZrnBia+pzT+/EBqYW
							iQ==
							</data>
							<key>Size</key>
							<integer>6651</integer>
						</dict>
						<key>files/page73_blog_entry394_1.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							NzJQhNfurw+zDGGwqcGj
							fw==
							</data>
							<key>Size</key>
							<integer>1405</integer>
						</dict>
						<key>files/page73_blog_entry397_1.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							eHtsdiRp9xxm9KLCFc8F
							sA==
							</data>
							<key>Size</key>
							<integer>9629</integer>
						</dict>
						<key>files/ring.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/scroll.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							hMe4xUqhLx2E+hIZrSuZ
							WQ==
							</data>
							<key>Size</key>
							<integer>6517</integer>
						</dict>
						<key>files/sidebar-content.html</key>
						<dict>
							<key>Digest</key>
							<data>
							LolChy1qdTcsLM++bEah
							HA==
							</data>
							<key>Size</key>
							<integer>1520</integer>
						</dict>
						<key>files/tomato.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							nGmdkjetz3QT3ZnaKKAA
							hw==
							</data>
							<key>Size</key>
							<integer>7276</integer>
						</dict>
						<key>files/vampirates.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							i0OLOTnB0qr+I7MYxMcF
							Xw==
							</data>
							<key>Size</key>
							<integer>7645</integer>
						</dict>
						<key>jan11.php</key>
						<dict>
							<key>Digest</key>
							<data>
							CKS9xfibo2QHNoDo88kp
							cg==
							</data>
							<key>Size</key>
							<integer>66010</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page73</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
