<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>ID</key>
				<string>page47</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Photos</string>
				<key>PluginClassName</key>
				<string>RWPhotoPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Photo Album</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-06-22T12:51:45Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>files/page47-1000-full.html</key>
						<dict>
							<key>Digest</key>
							<data>
							PmMspIMKkdtMy08TYpPq
							Pg==
							</data>
							<key>Size</key>
							<integer>1418</integer>
						</dict>
						<key>files/page47-1000-full.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							QAbBhRfh7tjXb7DKycjJ
							iA==
							</data>
							<key>Size</key>
							<integer>22833</integer>
						</dict>
						<key>files/page47-1000-thumb.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							wQdMKzamdJgFzztjDj3u
							vg==
							</data>
							<key>Size</key>
							<integer>6985</integer>
						</dict>
						<key>files/page47-1001-full.html</key>
						<dict>
							<key>Digest</key>
							<data>
							OT/ddz559MuxhpUElU1v
							xQ==
							</data>
							<key>Size</key>
							<integer>1442</integer>
						</dict>
						<key>files/page47-1001-full.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							cpYVYkvUqOe92ajfeaTs
							Yg==
							</data>
							<key>Size</key>
							<integer>23436</integer>
						</dict>
						<key>files/page47-1001-thumb.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							EPpFja+UEfUXQEcz0OWG
							bw==
							</data>
							<key>Size</key>
							<integer>7149</integer>
						</dict>
						<key>files/page47-1002-full.html</key>
						<dict>
							<key>Digest</key>
							<data>
							dyMrrzjdknyfOPdW8WL4
							Lw==
							</data>
							<key>Size</key>
							<integer>1490</integer>
						</dict>
						<key>files/page47-1002-full.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							G79oVCBmv+oMKkgzatC2
							7A==
							</data>
							<key>Size</key>
							<integer>53749</integer>
						</dict>
						<key>files/page47-1002-thumb.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							RbVNY+YvJrJQzLTw1Q+u
							zg==
							</data>
							<key>Size</key>
							<integer>12587</integer>
						</dict>
						<key>files/page47-1003-full.html</key>
						<dict>
							<key>Digest</key>
							<data>
							MlG5fh1kuUKIcKdMG0Bc
							iw==
							</data>
							<key>Size</key>
							<integer>1464</integer>
						</dict>
						<key>files/page47-1003-full.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							jxqWtUNm4T0XzLOi/yiQ
							5A==
							</data>
							<key>Size</key>
							<integer>45368</integer>
						</dict>
						<key>files/page47-1003-thumb.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7d0gwH+YJ2B0OevZeJv0
							ag==
							</data>
							<key>Size</key>
							<integer>7943</integer>
						</dict>
						<key>files/page47-1004-full.html</key>
						<dict>
							<key>Digest</key>
							<data>
							zC4DEZJq/+sC+t1iQJjW
							sw==
							</data>
							<key>Size</key>
							<integer>1449</integer>
						</dict>
						<key>files/page47-1004-full.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6+Syo8g3w4seCco6oDuJ
							KA==
							</data>
							<key>Size</key>
							<integer>24910</integer>
						</dict>
						<key>files/page47-1004-thumb.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							h38oK5FwuVImOFAbp4f4
							vg==
							</data>
							<key>Size</key>
							<integer>8965</integer>
						</dict>
						<key>files/page47-1005-full.html</key>
						<dict>
							<key>Digest</key>
							<data>
							yGvOrzlMb8kgxOmoY/mv
							Og==
							</data>
							<key>Size</key>
							<integer>1447</integer>
						</dict>
						<key>files/page47-1005-full.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							914fPQDvd5s8yFSivFPy
							sA==
							</data>
							<key>Size</key>
							<integer>92982</integer>
						</dict>
						<key>files/page47-1005-thumb.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							p+XQ7KUa05Bx7msCioCU
							eA==
							</data>
							<key>Size</key>
							<integer>10124</integer>
						</dict>
						<key>files/page47-1006-full.html</key>
						<dict>
							<key>Digest</key>
							<data>
							6o4jSbUnJOjdT4wCAAos
							Bw==
							</data>
							<key>Size</key>
							<integer>1448</integer>
						</dict>
						<key>files/page47-1006-full.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							n/VoLa2F8jMdZ09/aAiM
							GA==
							</data>
							<key>Size</key>
							<integer>3836</integer>
						</dict>
						<key>files/page47-1006-thumb.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YCez5rixqZ9rxqm3CvC0
							RQ==
							</data>
							<key>Size</key>
							<integer>5493</integer>
						</dict>
						<key>files/page47-1007-full.html</key>
						<dict>
							<key>Digest</key>
							<data>
							z92G1s55r39uFPmwqDV7
							Gg==
							</data>
							<key>Size</key>
							<integer>1461</integer>
						</dict>
						<key>files/page47-1007-full.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Y04F6O2aa9efvqXjiiwd
							cQ==
							</data>
							<key>Size</key>
							<integer>76131</integer>
						</dict>
						<key>files/page47-1007-thumb.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							JGXemJ/loTVjmVtxKJP/
							Tg==
							</data>
							<key>Size</key>
							<integer>9593</integer>
						</dict>
						<key>files/page47-1008-full.html</key>
						<dict>
							<key>Digest</key>
							<data>
							WvEpby5geBZu3vor0s+Y
							rQ==
							</data>
							<key>Size</key>
							<integer>1433</integer>
						</dict>
						<key>files/page47-1008-full.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							SUjtPRTmZ1eZVZhQ3Ouf
							Ew==
							</data>
							<key>Size</key>
							<integer>69386</integer>
						</dict>
						<key>files/page47-1008-thumb.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Xusdd4hWuk3jrBM1C0aT
							hg==
							</data>
							<key>Size</key>
							<integer>9439</integer>
						</dict>
						<key>page47.html</key>
						<dict>
							<key>Digest</key>
							<data>
							y/FvBiVREn/MCVoRn8di
							Rg==
							</data>
							<key>Size</key>
							<integer>10769</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page47</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
