<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Justin Somper's Big Wild Read Blog</string>
				<key>ID</key>
				<string>page34</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Big Wild Read</string>
				<key>PluginClassName</key>
				<string>RWStyledPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Styled Text</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-06-22T12:51:35Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>bwr.html</key>
						<dict>
							<key>Digest</key>
							<data>
							k8lvAkz/DM6pY/VZOf0O
							2A==
							</data>
							<key>Size</key>
							<integer>15253</integer>
						</dict>
						<key>files/pawprint.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							K0YvEM8XowoODQa5Lwyd
							Pw==
							</data>
							<key>Size</key>
							<integer>4648</integer>
						</dict>
						<key>files/somper.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							s7v8mRL5EoOvlGEXxyLC
							xw==
							</data>
							<key>Size</key>
							<integer>4591</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page34</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
