<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>TempestTwins Blog From September to December 2007</string>
				<key>ID</key>
				<string>page29</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Blog 2007</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-09-12T11:12:52Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>files/archive-aug-2007.html</key>
						<dict>
							<key>Digest</key>
							<data>
							7svSkPQ25N9mz9MPpdSt
							2g==
							</data>
							<key>Size</key>
							<integer>8710</integer>
						</dict>
						<key>files/archive-nov-2007.html</key>
						<dict>
							<key>Digest</key>
							<data>
							6U5uSFO/kDivSoU3IxLf
							dg==
							</data>
							<key>Size</key>
							<integer>25453</integer>
						</dict>
						<key>files/archive-oct-2007.html</key>
						<dict>
							<key>Digest</key>
							<data>
							+/9XjyXiVUyZs3UAjBDA
							ZA==
							</data>
							<key>Size</key>
							<integer>32714</integer>
						</dict>
						<key>files/archive-sep-2007.html</key>
						<dict>
							<key>Digest</key>
							<data>
							h0NDJZDyQpf8OzUBX9oA
							lA==
							</data>
							<key>Size</key>
							<integer>36591</integer>
						</dict>
						<key>files/blackbart.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YT2o4YrbplLB/EF2JZ2M
							Ng==
							</data>
							<key>Size</key>
							<integer>7340</integer>
						</dict>
						<key>files/books.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							QExUFKFWIgb1Zd6fCzb9
							WA==
							</data>
							<key>Size</key>
							<integer>7848</integer>
						</dict>
						<key>files/button.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							+og0ZIih1jZRtjqDSaiM
							Yg==
							</data>
							<key>Size</key>
							<integer>5577</integer>
						</dict>
						<key>files/cannon.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7XyDdjbw0VDLHv0WTvx8
							mA==
							</data>
							<key>Size</key>
							<integer>6560</integer>
						</dict>
						<key>files/category-books.html</key>
						<dict>
							<key>Digest</key>
							<data>
							HBAc9XSLIlqUsgNvtnrN
							tg==
							</data>
							<key>Size</key>
							<integer>16307</integer>
						</dict>
						<key>files/category-justin-somper.html</key>
						<dict>
							<key>Digest</key>
							<data>
							pyMzrHxUv5b0bCZaxAEk
							bA==
							</data>
							<key>Size</key>
							<integer>15130</integer>
						</dict>
						<key>files/category-pirates.html</key>
						<dict>
							<key>Digest</key>
							<data>
							+j4ZBUDZFxX0+Hh5/6ST
							aA==
							</data>
							<key>Size</key>
							<integer>22527</integer>
						</dict>
						<key>files/category-tempesttwins.html</key>
						<dict>
							<key>Digest</key>
							<data>
							ApN2CdkciVHO071MhBOF
							Ig==
							</data>
							<key>Size</key>
							<integer>50413</integer>
						</dict>
						<key>files/chest.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6RbW5+WiViQzmTaalk3T
							cw==
							</data>
							<key>Size</key>
							<integer>5764</integer>
						</dict>
						<key>files/comp1a.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							PfdcYDx1n2ARx6g+gB37
							5Q==
							</data>
							<key>Size</key>
							<integer>10251</integer>
						</dict>
						<key>files/comp1b.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							fkvHoGHL0Pb8nfuZHnAF
							GA==
							</data>
							<key>Size</key>
							<integer>15037</integer>
						</dict>
						<key>files/comp1c.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							01AbLPH2HT3GkdGBGxDe
							vg==
							</data>
							<key>Size</key>
							<integer>14213</integer>
						</dict>
						<key>files/comp1d.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							DWe3iemjK7vK1Qr2zC3i
							2Q==
							</data>
							<key>Size</key>
							<integer>11237</integer>
						</dict>
						<key>files/comp1e.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							SR6yKL2bARcd7xCEvslo
							XA==
							</data>
							<key>Size</key>
							<integer>14391</integer>
						</dict>
						<key>files/comp1f.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							xSgFRODeyoXmBuqEbeRF
							4A==
							</data>
							<key>Size</key>
							<integer>13900</integer>
						</dict>
						<key>files/dagger.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							JulBE95QHVwGJpwGCQl4
							Zw==
							</data>
							<key>Size</key>
							<integer>6649</integer>
						</dict>
						<key>files/earth.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							lP7Fs06CFq9fiTvNxMmC
							qA==
							</data>
							<key>Size</key>
							<integer>7736</integer>
						</dict>
						<key>files/jollyroger.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							tz5j3bMYvjQZo4PpMD2g
							fg==
							</data>
							<key>Size</key>
							<integer>7571</integer>
						</dict>
						<key>files/kegs.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6oMLjAqMH70vW3oQiZti
							Bw==
							</data>
							<key>Size</key>
							<integer>6944</integer>
						</dict>
						<key>files/left.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ipPQhhkZp9LptTbbfRyR
							jg==
							</data>
							<key>Size</key>
							<integer>6620</integer>
						</dict>
						<key>files/mop.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							N4KmiazlJwIxyZUqDQ7r
							nQ==
							</data>
							<key>Size</key>
							<integer>7153</integer>
						</dict>
						<key>files/mouse.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/DGj3GJQ26ba1zgfImoN
							gQ==
							</data>
							<key>Size</key>
							<integer>5239</integer>
						</dict>
						<key>files/page29.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							phRlwqO9Yh8NFG7DC90f
							OQ==
							</data>
							<key>Size</key>
							<integer>64511</integer>
						</dict>
						<key>files/pawprint.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							K0YvEM8XowoODQa5Lwyd
							Pw==
							</data>
							<key>Size</key>
							<integer>4648</integer>
						</dict>
						<key>files/rackham.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							bFT+OQtKD+J12iFAGN42
							3w==
							</data>
							<key>Size</key>
							<integer>7533</integer>
						</dict>
						<key>files/repairs.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Pjc9KH6uR3LYb/3f1k/b
							1g==
							</data>
							<key>Size</key>
							<integer>6480</integer>
						</dict>
						<key>files/ring.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/samurai.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							+naV+2MJNftHtb1zyAoY
							zA==
							</data>
							<key>Size</key>
							<integer>7110</integer>
						</dict>
						<key>files/ship.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7j0fOivkGbD89H/ZGtMI
							0A==
							</data>
							<key>Size</key>
							<integer>7484</integer>
						</dict>
						<key>files/treasure.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							73yvlvpZzMN+oSTsU1eH
							mQ==
							</data>
							<key>Size</key>
							<integer>5581</integer>
						</dict>
						<key>files/twins.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							kcS8IrDBtabOwW44bhPD
							3g==
							</data>
							<key>Size</key>
							<integer>6771</integer>
						</dict>
						<key>files/vampirates.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							i0OLOTnB0qr+I7MYxMcF
							Xw==
							</data>
							<key>Size</key>
							<integer>7645</integer>
						</dict>
						<key>files/volcano.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							qaSWMOwv9Ajiom5U7gmN
							kg==
							</data>
							<key>Size</key>
							<integer>6555</integer>
						</dict>
						<key>files/wheel.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							AwGkWSAYDZMJXkN5G+uM
							6A==
							</data>
							<key>Size</key>
							<integer>5838</integer>
						</dict>
						<key>files/windsor.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							mpwR68SowHhwmic590lq
							8Q==
							</data>
							<key>Size</key>
							<integer>139007</integer>
						</dict>
						<key>sept07.html</key>
						<dict>
							<key>Digest</key>
							<data>
							YbKI2H5qUFIJYnioUrk8
							BA==
							</data>
							<key>Size</key>
							<integer>16500</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page29</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
