<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Book Reviews</string>
				<key>ID</key>
				<string>page9</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Book Reviews</string>
				<key>PluginClassName</key>
				<string>RWStyledPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Styled Text</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-06-06T11:45:33Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>files/alchemist.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							N/6ZzKkYHPoKdg/Zd2QY
							BA==
							</data>
							<key>Size</key>
							<integer>5150</integer>
						</dict>
						<key>files/alexrider.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							HSOfnFol6y+8U2obqtJC
							7A==
							</data>
							<key>Size</key>
							<integer>9173</integer>
						</dict>
						<key>files/artemisfowl.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							to8fqMDpp+zIJ1TKDgpW
							Sg==
							</data>
							<key>Size</key>
							<integer>7816</integer>
						</dict>
						<key>files/blackbart.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YT2o4YrbplLB/EF2JZ2M
							Ng==
							</data>
							<key>Size</key>
							<integer>7340</integer>
						</dict>
						<key>files/bluepeter.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							b/p61/vSRWKG/ccieTvn
							Xw==
							</data>
							<key>Size</key>
							<integer>7392</integer>
						</dict>
						<key>files/childrenlamp.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							H1+wIWv2KSt0jjJ+4rQ3
							OQ==
							</data>
							<key>Size</key>
							<integer>6610</integer>
						</dict>
						<key>files/dagger.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							JulBE95QHVwGJpwGCQl4
							Zw==
							</data>
							<key>Size</key>
							<integer>6649</integer>
						</dict>
						<key>files/demonata.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/0hbZwaTzkUBh1oykcNU
							RA==
							</data>
							<key>Size</key>
							<integer>14444</integer>
						</dict>
						<key>files/diamondbrothers.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							bCGGSyXE5z1pi0TaNelX
							PQ==
							</data>
							<key>Size</key>
							<integer>7906</integer>
						</dict>
						<key>files/divide.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							xbxUqJGHT7j7iHkX82Pa
							xQ==
							</data>
							<key>Size</key>
							<integer>7049</integer>
						</dict>
						<key>files/duckfoot.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Ijb8Z9kOPgebaih9J6as
							yg==
							</data>
							<key>Size</key>
							<integer>6397</integer>
						</dict>
						<key>files/eragon.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							PtLkf/q+lAWxIXcQ0+2v
							EA==
							</data>
							<key>Size</key>
							<integer>6460</integer>
						</dict>
						<key>files/grooshamgrange.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							PpWnxmVy2m4w2EW/fTTA
							Hw==
							</data>
							<key>Size</key>
							<integer>6071</integer>
						</dict>
						<key>files/harrypotter.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							dbuWGYjj43XzwECO5Cf3
							Mw==
							</data>
							<key>Size</key>
							<integer>10547</integer>
						</dict>
						<key>files/hisdarkmaterialstrilogy.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							l/x55QCw1bQLT8glaS+1
							hw==
							</data>
							<key>Size</key>
							<integer>8756</integer>
						</dict>
						<key>files/ibbotson.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							czNEhihN3wjBLXS0uig/
							3g==
							</data>
							<key>Size</key>
							<integer>7282</integer>
						</dict>
						<key>files/inkworld.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/sarkwJ2Z//0RsChjzKq
							4w==
							</data>
							<key>Size</key>
							<integer>7360</integer>
						</dict>
						<key>files/keystothekingdom.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							jrRlUcEzmcVe5BdlgzE0
							qg==
							</data>
							<key>Size</key>
							<integer>20386</integer>
						</dict>
						<key>files/lighthouse.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							TbGuGq3uBkTaTE5p2o6Y
							Pg==
							</data>
							<key>Size</key>
							<integer>6418</integer>
						</dict>
						<key>files/middleearth.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							VDMUlCWpgrlzWgSDKc8H
							JA==
							</data>
							<key>Size</key>
							<integer>6931</integer>
						</dict>
						<key>files/mouse.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/DGj3GJQ26ba1zgfImoN
							gQ==
							</data>
							<key>Size</key>
							<integer>5239</integer>
						</dict>
						<key>files/otori.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Rv/zWANb60PIVZNf4dQz
							HA==
							</data>
							<key>Size</key>
							<integer>5600</integer>
						</dict>
						<key>files/power5.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							HyUhUXrRQDuBGIMfZoum
							2A==
							</data>
							<key>Size</key>
							<integer>7469</integer>
						</dict>
						<key>files/right.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							llO1AYuTotm3K25LMsEd
							MA==
							</data>
							<key>Size</key>
							<integer>6626</integer>
						</dict>
						<key>files/ring.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/sedgwick.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							b3ytoCG0Mosx61r0eM0S
							ig==
							</data>
							<key>Size</key>
							<integer>8333</integer>
						</dict>
						<key>files/ship.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7j0fOivkGbD89H/ZGtMI
							0A==
							</data>
							<key>Size</key>
							<integer>7484</integer>
						</dict>
						<key>files/skulduggerypleasant.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							kY3eUpSV0LS9+Vq3KA8l
							uA==
							</data>
							<key>Size</key>
							<integer>6375</integer>
						</dict>
						<key>files/twilight.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							zseOlWTmj7zmWJqTKi2G
							WA==
							</data>
							<key>Size</key>
							<integer>8990</integer>
						</dict>
						<key>files/vampirates.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							i0OLOTnB0qr+I7MYxMcF
							Xw==
							</data>
							<key>Size</key>
							<integer>7645</integer>
						</dict>
						<key>files/vampiratesseries.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							l7g5QW22A8AANkWIaGgm
							hQ==
							</data>
							<key>Size</key>
							<integer>7028</integer>
						</dict>
						<key>reviews.html</key>
						<dict>
							<key>Digest</key>
							<data>
							xIjXgc8aNNGGQH8cYiCe
							Aw==
							</data>
							<key>Size</key>
							<integer>41389</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page9</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
