<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>TempestTwins Blog From July 2009</string>
				<key>ID</key>
				<string>page57</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Blog July 2009</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-09-12T11:12:46Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>files/Empire.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							usQ7XTuMey4HRcYGjF0z
							xQ==
							</data>
							<key>Size</key>
							<integer>6571</integer>
						</dict>
						<key>files/archive-aug-2009.php</key>
						<dict>
							<key>Digest</key>
							<data>
							qQE/gIenSrHfzrKRFYNq
							Rw==
							</data>
							<key>Size</key>
							<integer>21510</integer>
						</dict>
						<key>files/archive-jul-2009.php</key>
						<dict>
							<key>Digest</key>
							<data>
							N4LQUn4iVJ2juHBHgJjm
							Mw==
							</data>
							<key>Size</key>
							<integer>11954</integer>
						</dict>
						<key>files/archive-nov-2009.php</key>
						<dict>
							<key>Digest</key>
							<data>
							cuXcHVzAq/oB1X2CxiEI
							rA==
							</data>
							<key>Size</key>
							<integer>17777</integer>
						</dict>
						<key>files/archive-oct-2009.php</key>
						<dict>
							<key>Digest</key>
							<data>
							xzVhf7oHtLPN7+MF+v4d
							uA==
							</data>
							<key>Size</key>
							<integer>12405</integer>
						</dict>
						<key>files/archive-sep-2009.php</key>
						<dict>
							<key>Digest</key>
							<data>
							6VKnRSyRWxwycRki6Yro
							yA==
							</data>
							<key>Size</key>
							<integer>27975</integer>
						</dict>
						<key>files/books.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							QExUFKFWIgb1Zd6fCzb9
							WA==
							</data>
							<key>Size</key>
							<integer>7848</integer>
						</dict>
						<key>files/bookworm.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							o/RYC3n0aOR5jUbGLXz8
							jw==
							</data>
							<key>Size</key>
							<integer>7078</integer>
						</dict>
						<key>files/category-books.php</key>
						<dict>
							<key>Digest</key>
							<data>
							INn2X0mr2J2ZN9z0R5Nw
							tA==
							</data>
							<key>Size</key>
							<integer>30291</integer>
						</dict>
						<key>files/category-justin-somper.php</key>
						<dict>
							<key>Digest</key>
							<data>
							WYAPwDtLSJBWuB3/Br2B
							mg==
							</data>
							<key>Size</key>
							<integer>38901</integer>
						</dict>
						<key>files/category-pirates.php</key>
						<dict>
							<key>Digest</key>
							<data>
							0/DXVtXUr8zEPKfVkIud
							FQ==
							</data>
							<key>Size</key>
							<integer>14095</integer>
						</dict>
						<key>files/category-side-tracked.php</key>
						<dict>
							<key>Digest</key>
							<data>
							80T5BFWpJFW2vYmD27BR
							Qg==
							</data>
							<key>Size</key>
							<integer>15985</integer>
						</dict>
						<key>files/category-tempesttwins.php</key>
						<dict>
							<key>Digest</key>
							<data>
							0+qh4L+NmDpmBUZFiY4C
							mw==
							</data>
							<key>Size</key>
							<integer>9025</integer>
						</dict>
						<key>files/category-vampires.php</key>
						<dict>
							<key>Digest</key>
							<data>
							krg9UO/Ig+PSebCXv0Vt
							gw==
							</data>
							<key>Size</key>
							<integer>10017</integer>
						</dict>
						<key>files/crowsnest.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							CbK8Vt2PIE+XtKhkIw3c
							rg==
							</data>
							<key>Size</key>
							<integer>6561</integer>
						</dict>
						<key>files/jollyroger.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							tz5j3bMYvjQZo4PpMD2g
							fg==
							</data>
							<key>Size</key>
							<integer>7571</integer>
						</dict>
						<key>files/mouse.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/DGj3GJQ26ba1zgfImoN
							gQ==
							</data>
							<key>Size</key>
							<integer>5239</integer>
						</dict>
						<key>files/page57.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							D3vDFCi7a3K6Skgf+L2e
							5w==
							</data>
							<key>Size</key>
							<integer>54135</integer>
						</dict>
						<key>files/page57_blog_entry253_2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							GraDUmzaF8+P0hdynCgP
							pQ==
							</data>
							<key>Size</key>
							<integer>9433</integer>
						</dict>
						<key>files/ship.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7j0fOivkGbD89H/ZGtMI
							0A==
							</data>
							<key>Size</key>
							<integer>7484</integer>
						</dict>
						<key>files/sidebar-content.html</key>
						<dict>
							<key>Digest</key>
							<data>
							v8H4txWSIXCseOCgjkHq
							jg==
							</data>
							<key>Size</key>
							<integer>1166</integer>
						</dict>
						<key>files/twins.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							kcS8IrDBtabOwW44bhPD
							3g==
							</data>
							<key>Size</key>
							<integer>6771</integer>
						</dict>
						<key>files/vampirates.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							U33PaslaRd8cVHErCR+8
							kw==
							</data>
							<key>Size</key>
							<integer>7705</integer>
						</dict>
						<key>july09.php</key>
						<dict>
							<key>Digest</key>
							<data>
							L88fnK2ldRQuvOB9Rrbb
							Ng==
							</data>
							<key>Size</key>
							<integer>20277</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page57</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
