<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Pirate Squares</string>
				<key>ID</key>
				<string>page21</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Squares</string>
				<key>PluginClassName</key>
				<string>RWStyledPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Styled Text</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-06-06T11:45:28Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>files/page21_1.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							3qtymgTvEArydlBCoRAC
							2Q==
							</data>
							<key>Size</key>
							<integer>6507</integer>
						</dict>
						<key>files/page21_10.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							bFT+OQtKD+J12iFAGN42
							3w==
							</data>
							<key>Size</key>
							<integer>7533</integer>
						</dict>
						<key>files/page21_11.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/ompRdDZijLQFfHfyZ6B
							ng==
							</data>
							<key>Size</key>
							<integer>6127</integer>
						</dict>
						<key>files/page21_12.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/page21_13.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							+naV+2MJNftHtb1zyAoY
							zA==
							</data>
							<key>Size</key>
							<integer>7110</integer>
						</dict>
						<key>files/page21_14.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7j0fOivkGbD89H/ZGtMI
							0A==
							</data>
							<key>Size</key>
							<integer>7484</integer>
						</dict>
						<key>files/page21_15.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							73yvlvpZzMN+oSTsU1eH
							mQ==
							</data>
							<key>Size</key>
							<integer>5581</integer>
						</dict>
						<key>files/page21_16.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							i0OLOTnB0qr+I7MYxMcF
							Xw==
							</data>
							<key>Size</key>
							<integer>7645</integer>
						</dict>
						<key>files/page21_17.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							UDNgBCJYil1/dbi08YlY
							Pg==
							</data>
							<key>Size</key>
							<integer>6864</integer>
						</dict>
						<key>files/page21_2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YT2o4YrbplLB/EF2JZ2M
							Ng==
							</data>
							<key>Size</key>
							<integer>7340</integer>
						</dict>
						<key>files/page21_3.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ipPQhhkZp9LptTbbfRyR
							jg==
							</data>
							<key>Size</key>
							<integer>6620</integer>
						</dict>
						<key>files/page21_4.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							llO1AYuTotm3K25LMsEd
							MA==
							</data>
							<key>Size</key>
							<integer>6626</integer>
						</dict>
						<key>files/page21_5.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7XyDdjbw0VDLHv0WTvx8
							mA==
							</data>
							<key>Size</key>
							<integer>6560</integer>
						</dict>
						<key>files/page21_6.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6RbW5+WiViQzmTaalk3T
							cw==
							</data>
							<key>Size</key>
							<integer>5764</integer>
						</dict>
						<key>files/page21_7.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							JulBE95QHVwGJpwGCQl4
							Zw==
							</data>
							<key>Size</key>
							<integer>6649</integer>
						</dict>
						<key>files/page21_8.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							tz5j3bMYvjQZo4PpMD2g
							fg==
							</data>
							<key>Size</key>
							<integer>7571</integer>
						</dict>
						<key>files/page21_9.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							vHOZrnBia+pzT+/EBqYW
							iQ==
							</data>
							<key>Size</key>
							<integer>6651</integer>
						</dict>
						<key>sq.html</key>
						<dict>
							<key>Digest</key>
							<data>
							gGdeuV+eVbPJQaBLlTs8
							sQ==
							</data>
							<key>Size</key>
							<integer>7955</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page21</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
