<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Justin Somper's Blue Peter Blog</string>
				<key>ID</key>
				<string>page68</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Bitten By Books</string>
				<key>PluginClassName</key>
				<string>RWStyledPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Styled Text</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-06-22T12:51:34Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>bbb.html</key>
						<dict>
							<key>Digest</key>
							<data>
							BW4cj2w5OcHNdkqENjvr
							SA==
							</data>
							<key>Size</key>
							<integer>126554</integer>
						</dict>
						<key>files/page68_1.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							EUjVnY1rAvYEnv3NETNP
							tg==
							</data>
							<key>Size</key>
							<integer>6921</integer>
						</dict>
						<key>files/page68_10.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							WlBTWgbe+dAQdncuXp0j
							Ww==
							</data>
							<key>Size</key>
							<integer>171</integer>
						</dict>
						<key>files/page68_11.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							WlBTWgbe+dAQdncuXp0j
							Ww==
							</data>
							<key>Size</key>
							<integer>171</integer>
						</dict>
						<key>files/page68_12.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_13.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_14.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							WlBTWgbe+dAQdncuXp0j
							Ww==
							</data>
							<key>Size</key>
							<integer>171</integer>
						</dict>
						<key>files/page68_15.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_16.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_17.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_18.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_19.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_2.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							rMugtp81K0yUQPBYkbAV
							xQ==
							</data>
							<key>Size</key>
							<integer>42</integer>
						</dict>
						<key>files/page68_20.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_21.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_22.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							+XCmWRZoxiXkudvTt6RQ
							1w==
							</data>
							<key>Size</key>
							<integer>172</integer>
						</dict>
						<key>files/page68_23.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							+XCmWRZoxiXkudvTt6RQ
							1w==
							</data>
							<key>Size</key>
							<integer>172</integer>
						</dict>
						<key>files/page68_24.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_25.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_26.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_27.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_28.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_29.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							+XCmWRZoxiXkudvTt6RQ
							1w==
							</data>
							<key>Size</key>
							<integer>172</integer>
						</dict>
						<key>files/page68_3.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							SX8HLeJE5F4ipdhaWgWv
							Aw==
							</data>
							<key>Size</key>
							<integer>13383</integer>
						</dict>
						<key>files/page68_30.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_31.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_32.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_33.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_34.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_35.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_36.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_37.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_38.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_39.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_4.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_40.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_41.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_42.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_43.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_44.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_45.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							+XCmWRZoxiXkudvTt6RQ
							1w==
							</data>
							<key>Size</key>
							<integer>172</integer>
						</dict>
						<key>files/page68_46.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_47.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_48.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_49.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_5.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_50.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_51.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_52.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_53.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_54.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_55.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_6.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_7.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							nuZG/6txEH0aEUB75S8z
							pQ==
							</data>
							<key>Size</key>
							<integer>174</integer>
						</dict>
						<key>files/page68_8.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
						<key>files/page68_9.gif</key>
						<dict>
							<key>Digest</key>
							<data>
							8Fgga7j/cy2+jnqhDXTJ
							zQ==
							</data>
							<key>Size</key>
							<integer>170</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page68</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
