<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>TempestTwins Blog From January 2009</string>
				<key>ID</key>
				<string>page43</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Blog Jan 2009</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-09-12T11:12:48Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>files/apple.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OGCu53ztk6VDB+4at3C3
							qg==
							</data>
							<key>Size</key>
							<integer>7062</integer>
						</dict>
						<key>files/archive-apr-2009.html</key>
						<dict>
							<key>Digest</key>
							<data>
							0MBvlnsk4BN8th9100dS
							tA==
							</data>
							<key>Size</key>
							<integer>28223</integer>
						</dict>
						<key>files/archive-feb-2009.html</key>
						<dict>
							<key>Digest</key>
							<data>
							MgdtFCm2HQWbk6LpBqEl
							hg==
							</data>
							<key>Size</key>
							<integer>41818</integer>
						</dict>
						<key>files/archive-jan-2009.html</key>
						<dict>
							<key>Digest</key>
							<data>
							oxbXtnGYTIwZz7RdtdF/
							zw==
							</data>
							<key>Size</key>
							<integer>11135</integer>
						</dict>
						<key>files/archive-mar-2009.html</key>
						<dict>
							<key>Digest</key>
							<data>
							BNHEXii+zY7HfYotYJJi
							7A==
							</data>
							<key>Size</key>
							<integer>30040</integer>
						</dict>
						<key>files/blackheart.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							V4UOYDD+IQ0K5GuWqL7U
							2w==
							</data>
							<key>Size</key>
							<integer>6159</integer>
						</dict>
						<key>files/bluepeter.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							b/p61/vSRWKG/ccieTvn
							Xw==
							</data>
							<key>Size</key>
							<integer>7392</integer>
						</dict>
						<key>files/books.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							QExUFKFWIgb1Zd6fCzb9
							WA==
							</data>
							<key>Size</key>
							<integer>7848</integer>
						</dict>
						<key>files/bubbles.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							GVRC1A9G/2ipa6RoNUPN
							Xg==
							</data>
							<key>Size</key>
							<integer>7252</integer>
						</dict>
						<key>files/category-books.html</key>
						<dict>
							<key>Digest</key>
							<data>
							wxx34fZZzBQLvw5nvI9o
							EA==
							</data>
							<key>Size</key>
							<integer>58566</integer>
						</dict>
						<key>files/category-justin-somper.html</key>
						<dict>
							<key>Digest</key>
							<data>
							c4l5E8zvBjmpONYdGe9E
							eQ==
							</data>
							<key>Size</key>
							<integer>46278</integer>
						</dict>
						<key>files/category-side-tracked.html</key>
						<dict>
							<key>Digest</key>
							<data>
							kco+wmu13wf4fWWqbYNk
							lg==
							</data>
							<key>Size</key>
							<integer>14862</integer>
						</dict>
						<key>files/category-tempesttwins.html</key>
						<dict>
							<key>Digest</key>
							<data>
							gJh7kU6nV/moNbSNyi+N
							Qw==
							</data>
							<key>Size</key>
							<integer>14716</integer>
						</dict>
						<key>files/duckfoot.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Ijb8Z9kOPgebaih9J6as
							yg==
							</data>
							<key>Size</key>
							<integer>6397</integer>
						</dict>
						<key>files/mouse.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/DGj3GJQ26ba1zgfImoN
							gQ==
							</data>
							<key>Size</key>
							<integer>5239</integer>
						</dict>
						<key>files/page43.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							aeEvT/6jVAFhWx93EJIE
							hw==
							</data>
							<key>Size</key>
							<integer>65518</integer>
						</dict>
						<key>files/ring.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/ship.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7j0fOivkGbD89H/ZGtMI
							0A==
							</data>
							<key>Size</key>
							<integer>7484</integer>
						</dict>
						<key>files/sq_buns.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							IPxhIUM1EuvXDJQ/JjuC
							gw==
							</data>
							<key>Size</key>
							<integer>7093</integer>
						</dict>
						<key>files/twins.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							kcS8IrDBtabOwW44bhPD
							3g==
							</data>
							<key>Size</key>
							<integer>6771</integer>
						</dict>
						<key>files/vampirates.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							i0OLOTnB0qr+I7MYxMcF
							Xw==
							</data>
							<key>Size</key>
							<integer>7645</integer>
						</dict>
						<key>jan09.html</key>
						<dict>
							<key>Digest</key>
							<data>
							w9cc/qdRrruFrd9yEnW0
							Nw==
							</data>
							<key>Size</key>
							<integer>15854</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page43</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
