<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>TempestTwins Blog From July 2008</string>
				<key>ID</key>
				<string>page3</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Blog July 2008</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-09-12T11:12:49Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>files/Fu Lu Shou.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							y5gkGUUBlF6y+pPRJPRX
							Gw==
							</data>
							<key>Size</key>
							<integer>18238</integer>
						</dict>
						<key>files/FuLuShou Plate.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							s1vIHA+kz54Xh8I760vG
							vQ==
							</data>
							<key>Size</key>
							<integer>13716</integer>
						</dict>
						<key>files/Shou.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7xf0yNvug+jy9uFZ/CQQ
							/g==
							</data>
							<key>Size</key>
							<integer>25183</integer>
						</dict>
						<key>files/archive-aug-2008.html</key>
						<dict>
							<key>Digest</key>
							<data>
							96IS5BG7QCLrrZBUcRio
							Mw==
							</data>
							<key>Size</key>
							<integer>19497</integer>
						</dict>
						<key>files/archive-jul-2008.html</key>
						<dict>
							<key>Digest</key>
							<data>
							fWygjMoOuafoffvDD8/h
							/g==
							</data>
							<key>Size</key>
							<integer>27488</integer>
						</dict>
						<key>files/archive-nov-2008.html</key>
						<dict>
							<key>Digest</key>
							<data>
							WYMPWviKKeE70/Jnvcgh
							ww==
							</data>
							<key>Size</key>
							<integer>23291</integer>
						</dict>
						<key>files/archive-oct-2008.html</key>
						<dict>
							<key>Digest</key>
							<data>
							IFaykbcFvb1JTmo29il8
							dQ==
							</data>
							<key>Size</key>
							<integer>14503</integer>
						</dict>
						<key>files/archive-sep-2008.html</key>
						<dict>
							<key>Digest</key>
							<data>
							wPtJFtHIK0a1c5Y2rVHg
							hQ==
							</data>
							<key>Size</key>
							<integer>26480</integer>
						</dict>
						<key>files/books.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							QExUFKFWIgb1Zd6fCzb9
							WA==
							</data>
							<key>Size</key>
							<integer>7848</integer>
						</dict>
						<key>files/bubbles.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							GVRC1A9G/2ipa6RoNUPN
							Xg==
							</data>
							<key>Size</key>
							<integer>7252</integer>
						</dict>
						<key>files/category-books.html</key>
						<dict>
							<key>Digest</key>
							<data>
							HzX2s9y1jCsaxRqUoETq
							MQ==
							</data>
							<key>Size</key>
							<integer>30143</integer>
						</dict>
						<key>files/category-justin-somper.html</key>
						<dict>
							<key>Digest</key>
							<data>
							sZijeZr5ju70w5/pv6uX
							zw==
							</data>
							<key>Size</key>
							<integer>32175</integer>
						</dict>
						<key>files/category-pirates.html</key>
						<dict>
							<key>Digest</key>
							<data>
							iJR26AFwZGejpg7w5pTE
							8A==
							</data>
							<key>Size</key>
							<integer>23589</integer>
						</dict>
						<key>files/category-side-tracked.html</key>
						<dict>
							<key>Digest</key>
							<data>
							k8JaGbe8KOp7ELUY5jMm
							HQ==
							</data>
							<key>Size</key>
							<integer>30013</integer>
						</dict>
						<key>files/category-tempesttwins.html</key>
						<dict>
							<key>Digest</key>
							<data>
							IrZkTxqYNGXdnhqckaT/
							lA==
							</data>
							<key>Size</key>
							<integer>13008</integer>
						</dict>
						<key>files/duckfoot.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Ijb8Z9kOPgebaih9J6as
							yg==
							</data>
							<key>Size</key>
							<integer>6397</integer>
						</dict>
						<key>files/earth.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							lP7Fs06CFq9fiTvNxMmC
							qA==
							</data>
							<key>Size</key>
							<integer>7736</integer>
						</dict>
						<key>files/jollyroger.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							tz5j3bMYvjQZo4PpMD2g
							fg==
							</data>
							<key>Size</key>
							<integer>7571</integer>
						</dict>
						<key>files/kegs.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6oMLjAqMH70vW3oQiZti
							Bw==
							</data>
							<key>Size</key>
							<integer>6944</integer>
						</dict>
						<key>files/left.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ipPQhhkZp9LptTbbfRyR
							jg==
							</data>
							<key>Size</key>
							<integer>6620</integer>
						</dict>
						<key>files/page3.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							sL6jHqRZCeIUX+QN12Xa
							8Q==
							</data>
							<key>Size</key>
							<integer>66851</integer>
						</dict>
						<key>files/page3_blog_entry143_1.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							qeYzpF5tWwrlteKEyGKY
							DA==
							</data>
							<key>Size</key>
							<integer>21610</integer>
						</dict>
						<key>files/page3_blog_entry143_2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							bxoPtIZvlZe/7pfcbbQI
							oA==
							</data>
							<key>Size</key>
							<integer>14301</integer>
						</dict>
						<key>files/ship.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7j0fOivkGbD89H/ZGtMI
							0A==
							</data>
							<key>Size</key>
							<integer>7484</integer>
						</dict>
						<key>files/sq_FuLuShou.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							mm3qlLsgjTn9nccun1GD
							Ig==
							</data>
							<key>Size</key>
							<integer>6687</integer>
						</dict>
						<key>files/twins.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							kcS8IrDBtabOwW44bhPD
							3g==
							</data>
							<key>Size</key>
							<integer>6771</integer>
						</dict>
						<key>files/vampirates.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							i0OLOTnB0qr+I7MYxMcF
							Xw==
							</data>
							<key>Size</key>
							<integer>7645</integer>
						</dict>
						<key>files/wampiraci.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							UDNgBCJYil1/dbi08YlY
							Pg==
							</data>
							<key>Size</key>
							<integer>6864</integer>
						</dict>
						<key>files/xxvampiratesfansxx.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							iqFl4LM+yVU5ubuqn03h
							VA==
							</data>
							<key>Size</key>
							<integer>5916</integer>
						</dict>
						<key>july08.html</key>
						<dict>
							<key>Digest</key>
							<data>
							g8ZYsYf02+ATCvlnZSeG
							rA==
							</data>
							<key>Size</key>
							<integer>23093</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page3</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
