<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Your Favourite Vampirate</string>
				<key>ID</key>
				<string>page24</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Favourites</string>
				<key>PluginClassName</key>
				<string>RWStyledPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Styled Text</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-11-24T22:17:37Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>favourites.html</key>
						<dict>
							<key>Digest</key>
							<data>
							LZx9tk2X5KMJJ/AGuMZx
							PA==
							</data>
							<key>Size</key>
							<integer>16013</integer>
						</dict>
						<key>files/cowboyhat.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							eYBUfTT1SWAdZE1tl2bL
							yA==
							</data>
							<key>Size</key>
							<integer>6728</integer>
						</dict>
						<key>files/ducksfoot-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Ijb8Z9kOPgebaih9J6as
							yg==
							</data>
							<key>Size</key>
							<integer>6397</integer>
						</dict>
						<key>files/ducksfoot-3.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Ijb8Z9kOPgebaih9J6as
							yg==
							</data>
							<key>Size</key>
							<integer>6397</integer>
						</dict>
						<key>files/ducksfoot.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Ijb8Z9kOPgebaih9J6as
							yg==
							</data>
							<key>Size</key>
							<integer>6397</integer>
						</dict>
						<key>files/gladiator-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							FjJz8iCVl7J6zgr0CYgA
							CQ==
							</data>
							<key>Size</key>
							<integer>7188</integer>
						</dict>
						<key>files/gladiator-3.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							FjJz8iCVl7J6zgr0CYgA
							CQ==
							</data>
							<key>Size</key>
							<integer>7188</integer>
						</dict>
						<key>files/gladiator.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							FjJz8iCVl7J6zgr0CYgA
							CQ==
							</data>
							<key>Size</key>
							<integer>7188</integer>
						</dict>
						<key>files/jollyroger.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							tz5j3bMYvjQZo4PpMD2g
							fg==
							</data>
							<key>Size</key>
							<integer>7571</integer>
						</dict>
						<key>files/keg-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6oMLjAqMH70vW3oQiZti
							Bw==
							</data>
							<key>Size</key>
							<integer>6944</integer>
						</dict>
						<key>files/keg.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6oMLjAqMH70vW3oQiZti
							Bw==
							</data>
							<key>Size</key>
							<integer>6944</integer>
						</dict>
						<key>files/misstressofthedark.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ZixvlQhQ8ShFO1rbLHe2
							xA==
							</data>
							<key>Size</key>
							<integer>6725</integer>
						</dict>
						<key>files/mouse-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/DGj3GJQ26ba1zgfImoN
							gQ==
							</data>
							<key>Size</key>
							<integer>5239</integer>
						</dict>
						<key>files/mouse.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/DGj3GJQ26ba1zgfImoN
							gQ==
							</data>
							<key>Size</key>
							<integer>5239</integer>
						</dict>
						<key>files/rapier.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/ompRdDZijLQFfHfyZ6B
							ng==
							</data>
							<key>Size</key>
							<integer>6127</integer>
						</dict>
						<key>files/repairs.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Pjc9KH6uR3LYb/3f1k/b
							1g==
							</data>
							<key>Size</key>
							<integer>6480</integer>
						</dict>
						<key>files/ring-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/ring-3-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/ring-3-3.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/ring-3.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/ring-4.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/ring-5.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/ring-6.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/ring-7.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/ring.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/roc.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ig+RlUX4dPQi9CV4rP38
							+w==
							</data>
							<key>Size</key>
							<integer>6678</integer>
						</dict>
						<key>files/vampirates-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							i0OLOTnB0qr+I7MYxMcF
							Xw==
							</data>
							<key>Size</key>
							<integer>7645</integer>
						</dict>
						<key>files/vampirates.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							i0OLOTnB0qr+I7MYxMcF
							Xw==
							</data>
							<key>Size</key>
							<integer>7645</integer>
						</dict>
						<key>files/vampire.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YhPoNRxb9qz87l93zubr
							ag==
							</data>
							<key>Size</key>
							<integer>6937</integer>
						</dict>
						<key>files/vampirekiss.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							FIhIQaltSCB8cLUH+6sj
							iQ==
							</data>
							<key>Size</key>
							<integer>7237</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page24</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
