<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Vampirate Swords</string>
				<key>ID</key>
				<string>page23</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Swords</string>
				<key>PluginClassName</key>
				<string>RWStyledPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Styled Text</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-06-06T11:45:09Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>files/dagger.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							JulBE95QHVwGJpwGCQl4
							Zw==
							</data>
							<key>Size</key>
							<integer>6649</integer>
						</dict>
						<key>files/left-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ipPQhhkZp9LptTbbfRyR
							jg==
							</data>
							<key>Size</key>
							<integer>6620</integer>
						</dict>
						<key>files/left-3.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ipPQhhkZp9LptTbbfRyR
							jg==
							</data>
							<key>Size</key>
							<integer>6620</integer>
						</dict>
						<key>files/left.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ipPQhhkZp9LptTbbfRyR
							jg==
							</data>
							<key>Size</key>
							<integer>6620</integer>
						</dict>
						<key>files/right-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							llO1AYuTotm3K25LMsEd
							MA==
							</data>
							<key>Size</key>
							<integer>6626</integer>
						</dict>
						<key>files/right-3.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							llO1AYuTotm3K25LMsEd
							MA==
							</data>
							<key>Size</key>
							<integer>6626</integer>
						</dict>
						<key>files/right-4.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							llO1AYuTotm3K25LMsEd
							MA==
							</data>
							<key>Size</key>
							<integer>6626</integer>
						</dict>
						<key>files/right.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							llO1AYuTotm3K25LMsEd
							MA==
							</data>
							<key>Size</key>
							<integer>6626</integer>
						</dict>
						<key>swords.html</key>
						<dict>
							<key>Digest</key>
							<data>
							Zam8bXRJFYbr2q5da1YE
							jA==
							</data>
							<key>Size</key>
							<integer>11189</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page23</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
