<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>TempestTwins Blog From July 2010</string>
				<key>ID</key>
				<string>page67</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Blog July 2010</string>
				<key>PluginClassName</key>
				<string>RWBlogPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Blog</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-09-12T11:12:43Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>files/archive-aug-2010.php</key>
						<dict>
							<key>Digest</key>
							<data>
							79PORunbYjbWIJ+lmOjT
							Ew==
							</data>
							<key>Size</key>
							<integer>24012</integer>
						</dict>
						<key>files/archive-jul-2010.php</key>
						<dict>
							<key>Digest</key>
							<data>
							TXrzx+2vGfrDO2JhLGGI
							wQ==
							</data>
							<key>Size</key>
							<integer>14183</integer>
						</dict>
						<key>files/archive-nov-2010.php</key>
						<dict>
							<key>Digest</key>
							<data>
							esqvv+7CIrwddC1Hd5GV
							pg==
							</data>
							<key>Size</key>
							<integer>10729</integer>
						</dict>
						<key>files/archive-oct-2010.php</key>
						<dict>
							<key>Digest</key>
							<data>
							u1upxxXyCri5R7dKKH8F
							Tw==
							</data>
							<key>Size</key>
							<integer>16910</integer>
						</dict>
						<key>files/archive-sep-2010.php</key>
						<dict>
							<key>Digest</key>
							<data>
							XESC3lU1BRIMq2bmsJME
							1A==
							</data>
							<key>Size</key>
							<integer>33638</integer>
						</dict>
						<key>files/books.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							QExUFKFWIgb1Zd6fCzb9
							WA==
							</data>
							<key>Size</key>
							<integer>7848</integer>
						</dict>
						<key>files/bubbles.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							GVRC1A9G/2ipa6RoNUPN
							Xg==
							</data>
							<key>Size</key>
							<integer>7252</integer>
						</dict>
						<key>files/category-artwork.php</key>
						<dict>
							<key>Digest</key>
							<data>
							E/BgNVfCTXoq5rzxOaQb
							Fg==
							</data>
							<key>Size</key>
							<integer>7520</integer>
						</dict>
						<key>files/category-books.php</key>
						<dict>
							<key>Digest</key>
							<data>
							NHT3j/1RU5sAiwfTq3Vd
							qQ==
							</data>
							<key>Size</key>
							<integer>29341</integer>
						</dict>
						<key>files/category-events.php</key>
						<dict>
							<key>Digest</key>
							<data>
							p/wLQCQJDuv8GDobIu0m
							tA==
							</data>
							<key>Size</key>
							<integer>24105</integer>
						</dict>
						<key>files/category-justin-somper.php</key>
						<dict>
							<key>Digest</key>
							<data>
							e2JFWGb/hJHagr6zQlew
							IA==
							</data>
							<key>Size</key>
							<integer>27036</integer>
						</dict>
						<key>files/category-pirates.php</key>
						<dict>
							<key>Digest</key>
							<data>
							lvlHHPnN4DkgmbC4ZkKs
							/Q==
							</data>
							<key>Size</key>
							<integer>18449</integer>
						</dict>
						<key>files/category-side-tracked.php</key>
						<dict>
							<key>Digest</key>
							<data>
							vUBXRtZ4DF8NFxCt3Drj
							XQ==
							</data>
							<key>Size</key>
							<integer>18537</integer>
						</dict>
						<key>files/category-tempesttwins.php</key>
						<dict>
							<key>Digest</key>
							<data>
							8wCxp+1tsVF2y83QwwBE
							DQ==
							</data>
							<key>Size</key>
							<integer>8925</integer>
						</dict>
						<key>files/category-vampires.php</key>
						<dict>
							<key>Digest</key>
							<data>
							e0Y8N7sDibknaNf9+LaZ
							/A==
							</data>
							<key>Size</key>
							<integer>7364</integer>
						</dict>
						<key>files/jollyroger.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							tz5j3bMYvjQZo4PpMD2g
							fg==
							</data>
							<key>Size</key>
							<integer>7571</integer>
						</dict>
						<key>files/mouse.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/DGj3GJQ26ba1zgfImoN
							gQ==
							</data>
							<key>Size</key>
							<integer>5239</integer>
						</dict>
						<key>files/page67.xml</key>
						<dict>
							<key>Digest</key>
							<data>
							IIpCT/GYvs4aFqBlpq0n
							Lw==
							</data>
							<key>Size</key>
							<integer>55298</integer>
						</dict>
						<key>files/page67_blog_entry364_1.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/page67_blog_entry370_1.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							vHOZrnBia+pzT+/EBqYW
							iQ==
							</data>
							<key>Size</key>
							<integer>6651</integer>
						</dict>
						<key>files/sidebar-content.html</key>
						<dict>
							<key>Digest</key>
							<data>
							WlHeYM1yKrqg8WOhT3Nb
							xw==
							</data>
							<key>Size</key>
							<integer>1330</integer>
						</dict>
						<key>files/vampirates.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							i0OLOTnB0qr+I7MYxMcF
							Xw==
							</data>
							<key>Size</key>
							<integer>7645</integer>
						</dict>
						<key>july10.php</key>
						<dict>
							<key>Digest</key>
							<data>
							ggkB/KwrmkmSPiVv4r6g
							Rg==
							</data>
							<key>Size</key>
							<integer>14329</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page67</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
