<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Pirate Definitions</string>
				<key>ID</key>
				<string>page10</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Pirates</string>
				<key>PluginClassName</key>
				<string>RWStyledPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Styled Text</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-06-17T13:41:35Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>files/blackbart.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YT2o4YrbplLB/EF2JZ2M
							Ng==
							</data>
							<key>Size</key>
							<integer>7340</integer>
						</dict>
						<key>files/cannon.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7XyDdjbw0VDLHv0WTvx8
							mA==
							</data>
							<key>Size</key>
							<integer>6560</integer>
						</dict>
						<key>files/jollyroger.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							tz5j3bMYvjQZo4PpMD2g
							fg==
							</data>
							<key>Size</key>
							<integer>7571</integer>
						</dict>
						<key>files/kegs-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6oMLjAqMH70vW3oQiZti
							Bw==
							</data>
							<key>Size</key>
							<integer>6944</integer>
						</dict>
						<key>files/kegs-3.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6oMLjAqMH70vW3oQiZti
							Bw==
							</data>
							<key>Size</key>
							<integer>6944</integer>
						</dict>
						<key>files/kegs.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6oMLjAqMH70vW3oQiZti
							Bw==
							</data>
							<key>Size</key>
							<integer>6944</integer>
						</dict>
						<key>files/mythbusters.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							LodwbElH4sjcWMoSsXSN
							4Q==
							</data>
							<key>Size</key>
							<integer>8082</integer>
						</dict>
						<key>files/rackham.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							bFT+OQtKD+J12iFAGN42
							3w==
							</data>
							<key>Size</key>
							<integer>7533</integer>
						</dict>
						<key>files/repairs.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Pjc9KH6uR3LYb/3f1k/b
							1g==
							</data>
							<key>Size</key>
							<integer>6480</integer>
						</dict>
						<key>files/scroll.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							hMe4xUqhLx2E+hIZrSuZ
							WQ==
							</data>
							<key>Size</key>
							<integer>6517</integer>
						</dict>
						<key>pirate.html</key>
						<dict>
							<key>Digest</key>
							<data>
							rUTMVT82epVXzeprd5bs
							Eg==
							</data>
							<key>Size</key>
							<integer>18352</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page10</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
