<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Should Vampirates Be A Film Or TV Series</string>
				<key>ID</key>
				<string>page25</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Film or TV</string>
				<key>PluginClassName</key>
				<string>RWStyledPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Styled Text</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2012-05-24T16:01:41Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>files/apple.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							OGCu53ztk6VDB+4at3C3
							qg==
							</data>
							<key>Size</key>
							<integer>7062</integer>
						</dict>
						<key>files/baguette.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							F3imNXlpiVUWTrCJmiTm
							wA==
							</data>
							<key>Size</key>
							<integer>6556</integer>
						</dict>
						<key>files/blackbart-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YT2o4YrbplLB/EF2JZ2M
							Ng==
							</data>
							<key>Size</key>
							<integer>7340</integer>
						</dict>
						<key>files/blackbart-3.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YT2o4YrbplLB/EF2JZ2M
							Ng==
							</data>
							<key>Size</key>
							<integer>7340</integer>
						</dict>
						<key>files/blackbart.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YT2o4YrbplLB/EF2JZ2M
							Ng==
							</data>
							<key>Size</key>
							<integer>7340</integer>
						</dict>
						<key>files/bluepeter-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							b/p61/vSRWKG/ccieTvn
							Xw==
							</data>
							<key>Size</key>
							<integer>7392</integer>
						</dict>
						<key>files/bluepeter.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							b/p61/vSRWKG/ccieTvn
							Xw==
							</data>
							<key>Size</key>
							<integer>7392</integer>
						</dict>
						<key>files/bottles.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							VEWusvRrHP9Rs1CffTur
							rw==
							</data>
							<key>Size</key>
							<integer>6940</integer>
						</dict>
						<key>files/bud-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							36qeDuhP1TbyNB9gJLTV
							QQ==
							</data>
							<key>Size</key>
							<integer>7101</integer>
						</dict>
						<key>files/bud-3.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							36qeDuhP1TbyNB9gJLTV
							QQ==
							</data>
							<key>Size</key>
							<integer>7101</integer>
						</dict>
						<key>files/bud.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							36qeDuhP1TbyNB9gJLTV
							QQ==
							</data>
							<key>Size</key>
							<integer>7101</integer>
						</dict>
						<key>files/coins.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							44VLYCSlxsuyqmHN0whu
							Xg==
							</data>
							<key>Size</key>
							<integer>6896</integer>
						</dict>
						<key>files/crowsnest.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							CbK8Vt2PIE+XtKhkIw3c
							rg==
							</data>
							<key>Size</key>
							<integer>6561</integer>
						</dict>
						<key>files/dragon.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							a3CkYq0WZ+Z2moGisTq3
							Rg==
							</data>
							<key>Size</key>
							<integer>7619</integer>
						</dict>
						<key>files/ducksfoot-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Ijb8Z9kOPgebaih9J6as
							yg==
							</data>
							<key>Size</key>
							<integer>6397</integer>
						</dict>
						<key>files/ducksfoot.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							Ijb8Z9kOPgebaih9J6as
							yg==
							</data>
							<key>Size</key>
							<integer>6397</integer>
						</dict>
						<key>files/gladiator.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							FjJz8iCVl7J6zgr0CYgA
							CQ==
							</data>
							<key>Size</key>
							<integer>7188</integer>
						</dict>
						<key>files/jollyroger-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							tz5j3bMYvjQZo4PpMD2g
							fg==
							</data>
							<key>Size</key>
							<integer>7571</integer>
						</dict>
						<key>files/jollyroger.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							tz5j3bMYvjQZo4PpMD2g
							fg==
							</data>
							<key>Size</key>
							<integer>7571</integer>
						</dict>
						<key>files/misstressofthedark-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ZixvlQhQ8ShFO1rbLHe2
							xA==
							</data>
							<key>Size</key>
							<integer>6725</integer>
						</dict>
						<key>files/misstressofthedark.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ZixvlQhQ8ShFO1rbLHe2
							xA==
							</data>
							<key>Size</key>
							<integer>6725</integer>
						</dict>
						<key>files/mouse-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/DGj3GJQ26ba1zgfImoN
							gQ==
							</data>
							<key>Size</key>
							<integer>5239</integer>
						</dict>
						<key>files/mouse.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							/DGj3GJQ26ba1zgfImoN
							gQ==
							</data>
							<key>Size</key>
							<integer>5239</integer>
						</dict>
						<key>files/ring-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/ring-3.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/ring.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							oFXwmd/w+WrlrpqRCQM3
							3g==
							</data>
							<key>Size</key>
							<integer>7204</integer>
						</dict>
						<key>files/ship.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7j0fOivkGbD89H/ZGtMI
							0A==
							</data>
							<key>Size</key>
							<integer>7484</integer>
						</dict>
						<key>files/twins-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							kcS8IrDBtabOwW44bhPD
							3g==
							</data>
							<key>Size</key>
							<integer>6771</integer>
						</dict>
						<key>files/twins.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							kcS8IrDBtabOwW44bhPD
							3g==
							</data>
							<key>Size</key>
							<integer>6771</integer>
						</dict>
						<key>files/vampirates.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							i0OLOTnB0qr+I7MYxMcF
							Xw==
							</data>
							<key>Size</key>
							<integer>7645</integer>
						</dict>
						<key>files/vampire-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YhPoNRxb9qz87l93zubr
							ag==
							</data>
							<key>Size</key>
							<integer>6937</integer>
						</dict>
						<key>files/vampire.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							YhPoNRxb9qz87l93zubr
							ag==
							</data>
							<key>Size</key>
							<integer>6937</integer>
						</dict>
						<key>files/vampirekiss-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							FIhIQaltSCB8cLUH+6sj
							iQ==
							</data>
							<key>Size</key>
							<integer>7237</integer>
						</dict>
						<key>files/vampirekiss-3.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							FIhIQaltSCB8cLUH+6sj
							iQ==
							</data>
							<key>Size</key>
							<integer>7237</integer>
						</dict>
						<key>files/vampirekiss-4.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							FIhIQaltSCB8cLUH+6sj
							iQ==
							</data>
							<key>Size</key>
							<integer>7237</integer>
						</dict>
						<key>files/vampirekiss.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							FIhIQaltSCB8cLUH+6sj
							iQ==
							</data>
							<key>Size</key>
							<integer>7237</integer>
						</dict>
						<key>files/wait-10.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							fy2ak8i6Ai71IuGVYPzq
							Ig==
							</data>
							<key>Size</key>
							<integer>6750</integer>
						</dict>
						<key>files/wait-2.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							fy2ak8i6Ai71IuGVYPzq
							Ig==
							</data>
							<key>Size</key>
							<integer>6750</integer>
						</dict>
						<key>files/wait-3.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							fy2ak8i6Ai71IuGVYPzq
							Ig==
							</data>
							<key>Size</key>
							<integer>6750</integer>
						</dict>
						<key>files/wait-4.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							fy2ak8i6Ai71IuGVYPzq
							Ig==
							</data>
							<key>Size</key>
							<integer>6750</integer>
						</dict>
						<key>files/wait-5.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							fy2ak8i6Ai71IuGVYPzq
							Ig==
							</data>
							<key>Size</key>
							<integer>6750</integer>
						</dict>
						<key>files/wait-6.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							fy2ak8i6Ai71IuGVYPzq
							Ig==
							</data>
							<key>Size</key>
							<integer>6750</integer>
						</dict>
						<key>files/wait-7.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							fy2ak8i6Ai71IuGVYPzq
							Ig==
							</data>
							<key>Size</key>
							<integer>6750</integer>
						</dict>
						<key>files/wait-8.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							fy2ak8i6Ai71IuGVYPzq
							Ig==
							</data>
							<key>Size</key>
							<integer>6750</integer>
						</dict>
						<key>files/wait-9.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							fy2ak8i6Ai71IuGVYPzq
							Ig==
							</data>
							<key>Size</key>
							<integer>6750</integer>
						</dict>
						<key>files/wait.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							fy2ak8i6Ai71IuGVYPzq
							Ig==
							</data>
							<key>Size</key>
							<integer>6750</integer>
						</dict>
						<key>tv.html</key>
						<dict>
							<key>Digest</key>
							<data>
							QDICS5Mi+Ah8L1LozRW8
							4w==
							</data>
							<key>Size</key>
							<integer>46840</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page25</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
