<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SandwichFillings</key>
	<array>
		<dict>
			<key>Dictionary</key>
			<dict>
				<key>BrowserTitle</key>
				<string>Other Vampirate Web Sites</string>
				<key>ID</key>
				<string>page42</string>
				<key>MostRecentlySelectedStyleName</key>
				<string>Theme Default</string>
				<key>PageTitle</key>
				<string>Web Sites</string>
				<key>PluginClassName</key>
				<string>RWStyledPlugin</string>
				<key>PluginMetadata</key>
				<dict>
					<key>Author</key>
					<string>Realmac Software</string>
					<key>Name</key>
					<string>Styled Text</string>
				</dict>
				<key>PublishingManifest</key>
				<dict>
					<key>CreationDate</key>
					<date>2011-06-06T11:45:06Z</date>
					<key>DigestAlgorithm</key>
					<string>MD5</string>
					<key>DocumentGUID</key>
					<string>C53516D6-B5C3-40EC-85C9-9B101D5FC5C9</string>
					<key>PageDigests</key>
					<dict>
						<key>files/3swords.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							3qtymgTvEArydlBCoRAC
							2Q==
							</data>
							<key>Size</key>
							<integer>6507</integer>
						</dict>
						<key>files/blackheart.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							V4UOYDD+IQ0K5GuWqL7U
							2w==
							</data>
							<key>Size</key>
							<integer>6159</integer>
						</dict>
						<key>files/chest.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							6RbW5+WiViQzmTaalk3T
							cw==
							</data>
							<key>Size</key>
							<integer>5764</integer>
						</dict>
						<key>files/ring.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							rTWzzaKkW4JtRnG650M6
							6g==
							</data>
							<key>Size</key>
							<integer>7287</integer>
						</dict>
						<key>files/rose.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							ODfjsUzFuKXTI3KUKCPt
							AA==
							</data>
							<key>Size</key>
							<integer>6968</integer>
						</dict>
						<key>files/ship.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							7j0fOivkGbD89H/ZGtMI
							0A==
							</data>
							<key>Size</key>
							<integer>7484</integer>
						</dict>
						<key>files/treasure.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							73yvlvpZzMN+oSTsU1eH
							mQ==
							</data>
							<key>Size</key>
							<integer>5581</integer>
						</dict>
						<key>files/vampirates.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							U33PaslaRd8cVHErCR+8
							kw==
							</data>
							<key>Size</key>
							<integer>7705</integer>
						</dict>
						<key>files/vampirateship.jpg</key>
						<dict>
							<key>Digest</key>
							<data>
							TkeaS4NcGcEI5wbSgo9q
							qQ==
							</data>
							<key>Size</key>
							<integer>7034</integer>
						</dict>
						<key>sites.html</key>
						<dict>
							<key>Digest</key>
							<data>
							07waPIk/hwE6y2egG1cL
							wg==
							</data>
							<key>Size</key>
							<integer>11232</integer>
						</dict>
					</dict>
					<key>PageID</key>
					<string>page42</string>
					<key>Version</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>Files</key>
			<array/>
			<key>Subsandwiches</key>
			<array>
				<string>ChildPages</string>
				<string>Data</string>
				<string>PageAttributes</string>
			</array>
		</dict>
	</array>
	<key>Type</key>
	<string>Page</string>
</dict>
</plist>
